{% extends "telemeta/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load telemeta_tags %}
{% load bootstrap3 %}
{% load markdown_extra %}


{% block javascript %}
  {{ block.super }}
  <script src="{% static "telemeta_front/js/application.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
{% endblock %}


{% block stylesheets %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" />
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/telemeta-more.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/style.css" %}" />
<!--  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/admin.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/jquery.autocomplete.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/jquery-ui.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/list-sorttable.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/player.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/search.css" %}" />
  -->
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/francoralite.css" %}" />
{% endblock %}

{% block header %}
    <div id="header">
        <div id="logo">
        {% block logo %}
            <a href="{% url "telemeta-home" %}">
              <img src="{% static "telemeta_front/images/logo_universite_poitiers.jpg" %}"
               alt={% trans "Université de Poitiers" %}/>
            </a>
            <img src="{% static "telemeta_front/images/logo_francoralite.png" %}"
              alt="Francoralité" />
        {% endblock %}
        </div>
        <div id="auth_info" style="right : 1.1em;">
        {% if user.is_authenticated %}
             <img src="/static/telemeta/images/user.png" alt="user" style="vertical-align:middle"/>
              {% trans "Bienvenue" %},
             <a href="">{{user}}</a>                            |
             <a href="/logout/">{% trans "Déconnexion" %}
             <img src="/static/telemeta/images/logout.png" alt="logout"
                  style="vertical-align:middle"/></a>
        {% else %}
          <a href="{% url 'oidc_authentication_init' %}">{% trans "Se connecter" %}</a>
        {% endif %}
        </div>

        <div id="menu">
            {% block menu %}
                {% include "inc/nav.html" %}
            {% endblock %}
        </div>

    </div>
{% endblock %}

{% block head_title %}
Francoralité
{% endblock %}


{% block footer %}
    <div id="footer">
        <hr>
    </div>
{% endblock %}
