{% load staticfiles %}
{% load i18n %}
{% load telemeta_tags %}
{% load bootstrap3 %}
{% load markdown_extra %}

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="alternate" href="/rss" title="RSS 2.0" type="application/rss+xml"/>
    <link rel="icon" href="{% static "telemeta_front/images/favicon.ico" %}"/>

    <title>{% block head_title %}Francoralité{% endblock %}</title>


{% block javascript %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="{% static "telemeta_front/js/application.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/abcjs/3.1.1/abcjs_editor_midi-min.js"></script>-->
  <script src="{% static "telemeta_front/js/abcjs_midi_5.6.5-min.js" %}"></script>

  {% if user.is_authenticated %}
      <script type='text/javascript'>var CURRENT_USER_NAME = "{{ user.username }}";</script>
  {% else %}
      <script type='text/javascript'>var CURRENT_USER_NAME = undefined;</script>
  {% endif %}

{% endblock %}


{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/abcjs@5.6.11/abcjs-midi.css">
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/telemeta-more.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/style.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/player.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/search.css" %}" />

  <link type="text/css" rel="stylesheet" href="{% static "telemeta_front/css/francoralite.css" %}" />
{% endblock %}
</head>

<body>
{% block header %}
    <header id="header">
        <div id="logo">
        {% block logo %}
            <a href="{% url "telemeta-home" %}">
              <img src="{% static "telemeta_front/images/logo_universite_poitiers.jpg" %}"
               alt="{% trans "Université de Poitiers" %}" />
            </a>
            <img src="{% static "telemeta_front/images/logo_francoralite.png" %}"
              alt="Francoralité" />
        {% endblock %}
        </div>
        <div id="quick_search">
            <form action="{% url "search-simple" %}" id="_quickSearchForm" method="get" role="search">
                <div class="input-group">
                    <input class="form-control" id="id_q" name="q" type="text" value="{{query}}"  placeholder="Recherche rapide ..." /><span
                        class="input-group-btn"><button type="submit" id="btn" class="btn btn-default"><span
                        class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </form>
        </div>
        <div id="auth_info" style="right : 1.1em;">
        {% if user.is_authenticated %}
          <!--{% trans "Bienvenue" %}, --><a href="" class="login">{{user}}</a> | <a href="/logout/" class="logout">{% trans "Déconnexion" %}</a>
        {% else %}
          <a href="{% url 'oidc_authentication_init' %}">{% trans "Se connecter" %}</a>
        {% endif %}
        </div>

        <div id="menu">
            {% block menu %}
                {% include "inc/nav.html" %}
            {% endblock %}
        </div>

    </header>
{% endblock %}

<main id="content" role="main">
{% block content %}

  {% block title %}
    <h1>{% block title_name %}{% endblock %}</h1>
  {% endblock %}

{% endblock %}
</main>
{% block footer %}
    <footer id="footer">
        <hr>
    </footer>
{% endblock %}
