
{% extends "collection.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}



{% block title %}
  <h1>
    <img src="{{ STATIC_URL }}telemeta/images/collections_red.png" style="vertical-align:middle" />
    {% trans "Enquête" %}
    {% if collection %}
     : {{ collection.code }} - {{  collection.title}}
    {% endif %}
  </h1>
{% endblock %}

{% block title_buttons %}
  <a href="{% url "collection-edit" id=id %}">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </button>
  </a>
{% endblock %}

{% block content %}
{% if collection %}

<div class="container_line">
  <span class="container_data">
    <span class="libelle"> {{form.mission.label|safe}}</span>
    <span class="donnee">
      <a href="{% url "mission-detail" id=collection.mission.id %}">
        {{collection.mission.title|safe}}
      </a>
    </span>
  </span>
  {% field_data form.code_partner.label|safe collection.code_partner|safe %}
  {% field_data form.code.label|safe collection.code|upper|safe %}
  {% field_data form.title.label|safe collection.title|safe %}
  {% field_data form.public_access.label|safe collection.public_access|public_access|safe %}
</div>

<div class="container_line">
  {% field_data form.descriptions.label|safe collection.descriptions|markdown|safe %}
</div>

<div class="block-grey">
  <h2>{% trans "Période" %}</h2>
  {% trans "Années d'enregistrement" %}
  <div class="container_line">
    <span class="container_data">
      <span class="libelle"> {% trans 'Depuis' %}</span>
      <span class="donnee"></span>
    </span>
    <span class="container_data">
      <span class="libelle"> {% trans "Jusqu\'à" %}</span>
      <span class="donnee"></span>
    </span>
    <span class="container_data">
      <span class="libelle"> {% trans 'Durée totale disponible' %}</span>
      <span class="donnee"></span>
    </span>
  </div>
</div>

<div class="block-grey">
  <h2>{% trans "Personnes" %}</h2>
  <span class="container_data">
    <span class="libelle"> {% trans 'Collecteurs' %}</span>
    <span class="donnee">
      {% for collector in collectors %}
        {% if not forloop.first %} | {% endif %}
        <a href="{% url "personne-detail" id=collector.collector.id %}"
        onclick="window.open(this.href); return false;">
          {{collector.collector.first_name}} {{collector.collector.last_name}}
        </a>
      {% endfor %}
      </span>
  </span>
  <span class="container_data">
    <span class="libelle"> {% trans 'Informateurs' %}</span>
    <span class="donnee">
      {% for informer in informers %}
        {% if not forloop.first %} | {% endif %}
        <a href="{% url "personne-detail" id=informer.informer.id %}"
        onclick="window.open(this.href); return false;">
          {{informer.informer.first_name}} {{informer.informer.last_name}}
        </a>
      {% endfor %}
    </span>
  </span>
</div>

<div class="block-grey">
  <h2>{% trans "Localisation" %}</h2>
  <span class="container_data">
    <span class="libelle"> {% trans 'Lieux' %}</span>
    <span class="donnee">
      {% for location in locations %}
        {% if not forloop.first %} | {% endif %}
        <a href="{% url "location_gis-detail" id=location.location.id %}"
        onclick="window.open(this.href); return false;">
          {{location.location.code}}
        </a>
      {% endfor %}
    </span>
  </span>
  {% field_data form.location_details.label|safe collection.location_details|markdown|safe %}
  {% field_data form.cultural_area.label|safe collection.cultural_area|safe %}
</div>

<span class="container_data">
  <span class="libelle"> {% trans 'Langues' %}</span>
  <span class="donnee">
    {% for language in languages %}
      {% if not forloop.first %} | {% endif %}
        {{language.language.name}}
      </a>
    {% endfor %}
  </span>
</span>

<span class="container_data">
  <span class="libelle"> {% trans 'Editeurs' %}</span>
  <span class="donnee">
    {% for publisher in publishers %}
      {% if not forloop.first %} | {% endif %}
        {{publisher.publisher.value}}
      </a>
    {% endfor %}
  </span>
</span>


{% else %}
  <p>{% trans "Cette enquête n'existe pas." %}</p>
{% endif %}
{% endblock %}
