
{% extends "collection.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block javascript %}
  {{ block.super }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-select/2.5.1/vue-select.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
{% endblock %}

{% block title %}
   {{ block.super}}
   {% if id %}
   {% trans "Modification" %}
   {% else %}
   {% trans "Création" %}
   {% endif %}
{% endblock %}

{% block title_buttons %}
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container">
  <div id="app">
    {% if id %}
    <form action="{%url "collection-edit" id %}" method="POST">
    {% else %}
    <form action="{%url "collection-add" %}" method="POST">
    {% endif %}
      {% csrf_token %}
      <div class="container_line">
        {% bootstrap_field form.mission layout='vertical' %}
        {% bootstrap_field form.title layout='vertical' %}
        {% bootstrap_field form.alt_title layout='vertical' %}
      </div>

      <!-- Collectors -->
      <div class="container_data">
        <label class="control_label">{% trans "Enquêteurs" %}</label>
      <v-select
        multiple
          v-model="collectors"
          :options="optionsCollectors">
          <template slot="option" slot-scope="option">
            ${ option.first_name } ${ option.last_name }
          </template>
          <template slot="selected-option" slot-scope="option">
            ${ option.first_name } ${ option.last_name }
          </template>
      </v-select>
      </div>

      <!-- Informers -->
      <div class="container_data">
        <label class="control_label">{% trans "Informateurs" %}</label>
      <v-select
        multiple
          v-model="informers"
          :options="optionsInformers">
          <template slot="option" slot-scope="option">
            ${ option.first_name } ${ option.last_name }
          </template>
          <template slot="selected-option" slot-scope="option">
            ${ option.first_name } ${ option.last_name }
          </template>
      </v-select>
      </div>

      {% bootstrap_field form.descriptions layout='vertical' %}
      <div class="block-grey">
        <h2>{% trans "Enregistrement" %}</h2>
        <div class="container_line">
          {% bootstrap_field form.record_from_year layout='vertical' %}
          {% bootstrap_field form.record_to_year layout='vertical' %}
          {% bootstrap_field form.year_published layout='vertical' %}
        </div>
      </div>
      {% bootstrap_field form.comment layout='vertical' %}

      <div class="container_line">
        {% bootstrap_field form.code layout='vertical' %}
        {% bootstrap_field form.code_partner layout='vertical' %}
        {% bootstrap_field form.public_access layout='vertical' %}
      </div>


      <div class="block-grey">
        <h2></h2>
        <div class="container_line">

        </div>
      </div>

      {% if id %}
      {% buttons submit='Modifier' reset="Annuler" %}{% endbuttons %}
      {% else %}
      {% buttons submit='Ajouter' reset="Annuler" %}{% endbuttons %}
      {% endif %}
    </form>
  </div>
</div>

<script type="application/javascript">
    Vue.component('v-select', VueSelect.VueSelect)

    new Vue({
      delimiters: ['${', '}'],
      el: '#app',
      data: {
          collectors: [],
          optionsCollectors: [],
          informers: [],
          optionsInformers: [],
      },
      watch: {
      },
      computed: {
      },
      methods: {
           getCollectors:  function() {
               axios.get('/api/authority/?is_collector=true&ordering=first_name+last_name')
               .then(
               res => {
                   this.optionsCollectors = res.data;
                });
            },
            getInformers:  function() {
                axios.get('/api/authority/?is_informer=true&ordering=first_name+last_name')
                .then(
                res => {
                    this.optionsInformers = res.data;
                 });
             },
       },
       mounted: function () {
            this.getCollectors();
            this.getInformers();
       }
    })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>


{{ form.media.js }}
{% endblock %}
