{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title %}
<div class="col-md-4">
  <img src="{{ STATIC_URL }}telemeta/images/collections_red.png"
    style="vertical-align:middle" />
    <h1>{% trans "Fonds" %}</h1>
</div>
<div class="col-md-8">
</div>
<div class="col-md-0">&nbsp;</div>
</div>
{% endblock %}

{% block title_buttons %}
{% endblock %}


</div>
{% block content %}
<div class="fullpage">
{% if fonds|length > 0 %}
  <!-- Table to display the institutions --->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "cote" %}</th>
      <th>{% trans "Nom" %}</th>
  </tr>
  {% for fond in fonds %}
  <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
      <td class="highlight">
          <a href="/fond/{{ fond.id }}/">
            {{ fond.code|upper }}</a>
      </td>
      <td>{{ fond.title|safe }}</td>
      <td>
        {% buttons %}
        <a href="{% url "fond-edit" id=fond.id %}">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
              </button>
        </a>
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{fond.title}}"
            data-url="{% url "fond-delete" id=fond.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
        {% endbuttons %}
      </td>
  </tr>
  {% endfor %}
</table>

{% modal_delete %}

{% else %}
    <p>{% trans "Il n'y a pas de fonds" %}</p>
{% endif %}
</div>
{% endblock %}
