{% extends "fond.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}



{% block title %}
  <h1>
    <img src="{{ STATIC_URL }}telemeta/images/collections_red.png" style="vertical-align:middle" />
    {% trans "Fonds" %}
    {% if fond %}
     : {{ personne.code }} - {{fond.title}}
    {% endif %}
  </h1>
{% endblock %}

{% block title_buttons %}
  <a href="{% url "mission-add" %}">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer une mission" %}
    </button>
  </a>
  <a href="{% url "fond-edit" id=id %}">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %} </span>
  </button>
  </a>
{% endblock %}

{% block content %}
{% if fond %}
<ul class="nav nav-tabs" role="tablist">
   <li class="active">
     <a href="#tab_general" role="tab" data-toggle="tab">{% trans "Fiche" %}</a>
   </li>
   <li>
     <a href="#tab_mission" role="tab" data-toggle="tab">{% trans "Missions" %}</a>
   </li>
</ul>

<div class="tab-content">

  <div class="tab-pane fade in active" id="tab_general">
    <div class="container_line">
      <span class="container_data">
        <span class="libelle"> {{form.institution.label|safe}}</span>
        <span class="donnee">
          <a href="{% url "institution-detail" id=fond.institution.id %}">
            {{fond.institution.name|safe}}
          </a>
        </span>
      </span>
      {% field_data form.code_partner.label|safe fond.code_partner|safe %}
      {% field_data form.code.label|safe fond.code|upper|safe %}
      {% field_data form.title.label|safe fond.title|safe %}
      {% field_data form.public_access.label|safe fond.public_access|safe %}
    </div>

    <div class="container_line">
      {% field_data form.descriptions.label|safe fond.descriptions|markdown|safe %}
    </div>

    <div class="block-grey">
      <h2>{% trans "Période" %}</h2>
      {% trans "Années d'enregistrement" %}
      <div class="container_line">
        <span class="container_data">
          <span class="libelle"> {% trans 'Depuis' %}</span>
          <span class="donnee"></span>
        </span>
        <span class="container_data">
          <span class="libelle"> {% trans "Jusqu\'à" %}</span>
          <span class="donnee"></span>
        </span>
        <span class="container_data">
          <span class="libelle"> {% trans 'Durée totale disponible' %}</span>
          <span class="donnee"></span>
        </span>
      </div>
    </div>

    <div class="block-grey">
      <h2>{% trans "Personnes" %}</h2>
      <span class="container_data">
        <span class="libelle"> {% trans 'Collecteurs' %}</span>
        <span class="donnee"></span>
      </span>
      <span class="container_data">
        <span class="libelle"> {% trans 'Informateurs' %}</span>
        <span class="donnee"></span>
      </span>
    </div>

    <div class="block-grey">
      <h2>{% trans "Archivage" %}</h2>
      {% field_data form.acquisition_mode.label|safe fond.acquisition_mode.value|safe %}
      {% field_data form.conservation_site.label|safe fond.conservation_site|safe %}
    </div>

    {% field_data form.comment.label|safe fond.comment|markdown|safe %}
  </div>

  <div class="tab-pane" id="tab_mission">
    {% if missions|length > 0 %}
      <!-- Table to display the missions --->
      <table class="listing">
      <tr>
          <th class="highlight">{% trans "cote" %}</th>
          <th>{% trans "Nom" %}</th>
          <th>{% trans "Description" %}</th>
      </tr>
      {% for mission in missions %}
      <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
          <td class="highlight">
              <a href="/mission/{{mission.id }}/">
                {{mission.fonds.code|upper}}_{{ mission.code|upper }}</a>
          </td>
          <td>{{ mission.title|safe }}</td>
          <td>{{ mission.descriptions|truncatechars:50|markdown|safe}}          </td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}

  </div>
</div>


{% else %}
  <p>{% trans "Ce fond n'existe pas." %}</p>
{% endif %}
{% endblock %}
