{% extends "fond.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}



{% block title %}
  <h1>
    <img src="{{ STATIC_URL }}telemeta/images/collections_red.png" style="vertical-align:middle" />
    {% trans "Fond" %}
    {% if fond %}
     : {{ personne.code }} - {{fond.title}}
    {% endif %}
  </h1>
{% endblock %}

{% block title_buttons %}
  <a href="{% url "fond-edit" id=id %}">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %} </span>
  </button>
  </a>
{% endblock %}

{% block content %}
{% if fond %}

<div class="container_line">
  <span class="container_data">
    <span class="libelle"> {% trans 'Institution' %}</span>
    <span class="donnee">
      <a href="{% url "institution-detail" id=fond.institution.id %}">
        {{fond.institution.name|safe}}
      </a>
    </span>
  </span>
  {% field_data form.code.label|safe fond.code|upper|safe %}
  {% field_data form.title.label|safe fond.title|safe %}
  {% field_data form.public_access.label|safe fond.public_access|safe %}
</div>

<div class="container_line">
  {% field_data form.descriptions.label|safe fond.descriptions|markdown|safe %}
</div>

<div class="block-grey">
  <h2>{% trans "Période" %}</h2>
  {% trans "Années d'enregistrement" %}
  <div class="container_line">
    <span class="container_data">
      <span class="libelle"> {% trans 'Depuis' %}</span>
      <span class="donnee"></span>
    </span>
    <span class="container_data">
      <span class="libelle"> {% trans "Jusqu\'à" %}</span>
      <span class="donnee"></span>
    </span>
    <span class="container_data">
      <span class="libelle"> {% trans 'Durée totale disponible' %}</span>
      <span class="donnee"></span>
    </span>
  </div>
</div>

<div class="block-grey">
  <h2>{% trans "Personnes" %}</h2>
  <span class="container_data">
    <span class="libelle"> {% trans 'Collecteurs' %}</span>
    <span class="donnee"></span>
  </span>
  <span class="container_data">
    <span class="libelle"> {% trans 'Informateurs' %}</span>
    <span class="donnee"></span>
  </span>
</div>

<div class="block-grey">
  <h2>{% trans "Archivage" %}</h2>
  {% field_data form.acquisition_mode.label|safe fond.acquisition_mode.value|safe %}
  {% field_data form.conservation_site.label|safe fond.conservation_site|safe %}
</div>

{% field_data form.comment.label|safe fond.comment|markdown|safe %}


{% else %}
  <p>{% trans "Ce fond n'existe pas." %}</p>
{% endif %}
{% endblock %}
