{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="home-content">
<div id="module-set">

{% block modules %}


<!--
{% with "Last changes" as title %}
{% include "telemeta/inc/module_revisions.html" %}
{% endwith %}
-->

<div id="module" class="module">
    <h3><img src="{{ STATIC_URL }}telemeta/images/module_playlist.png" style="vertical-align:middle" />
    {% trans "Partenaires scientifiques" %}</h3><br />
    <div style="background-color: white; padding: 1ex;" align="center">
    <a href="https://www.umoncton.ca/" target="_blank">
      <img class="logo"  width="40%"
      src="{{ STATIC_URL }}telemeta_front/images/logo_moncton.jpg"
      alt="Université de Moncton"></a>
    <a href="https://ustboniface.ca/" target="_blank">
      <img class="logo"  width="40%"
      src="{{ STATIC_URL }}telemeta_front/images/logo_saint_boniface.jpg"
      alt="Université de Saint-Boniface"></a>
    <a href="https://laurentienne.ca/" target="_blank">
      <img class="logo"  width="40%"
      src="{{ STATIC_URL }}telemeta_front/images/logo_laurentienne.jpg"
      alt="Université Laurentienne"></a>&nbsp;&nbsp;&nbsp;
    <a href="https://www.usainteanne.ca" target="_blank">
      <img class="logo"  width="40%"
      src="{{ STATIC_URL }}telemeta_front/images/logo_sainte_anne.png"
      alt="Université de Sainte-Anne"></a>&nbsp;&nbsp;&nbsp;
    <a href="https://louisiana.edu/" target="_blank">
      <img class="logo"  width="40%"
      src="{{ STATIC_URL }}telemeta_front/images/logo_louisiana_lafayette.jpg"
      alt="Université de Lafayette"></a>&nbsp;&nbsp;&nbsp;

    </div>
</div>

<div id="module" class="module">
    <h3><img src="{{ STATIC_URL }}telemeta/images/module_playlist.png" style="vertical-align:middle" />
    {% trans "Partenaires techniques" %}</h3><br />
    <div style="background-color: white; padding: 1ex;" align="center">
    <a href="http://www.cnrs.fr" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logo-CNRS.png" alt="CNRS"></a>&nbsp;&nbsp;&nbsp;
    <a href="http://www.culturecommunication.gouv.fr" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logo_mcc_2.png" alt="MCC"></a>&nbsp;&nbsp;
    <a href="http://www.mnhn.fr" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logo-MNHN.png" alt="MNHN"></a>
    <a href="https://www.u-paris10.fr" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logo-UPN.png" width=160px alt="Université Paris Nanterre"></a>
    <br /><br />

    <a href="http://www.huma-num.fr" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logohumanum.png" alt="Huma-Num"></a>
    <a href="http://http://www.europeanasounds.eu/" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/Europeana_sounds_landscape_2.jpg" alt="Europeana sounds"></a>
    </div>
</div>

<div id="module" class="module">
    <h3><img src="{{ STATIC_URL }}telemeta/images/module_playlist.png" style="vertical-align:middle" />
    {% trans "Partenaires financiers" %}</h3><br />
    <div style="background-color: white; padding: 1ex;" align="center">
    </div>
</div>

{% endblock %}
</div>

<div class="home-description">

  <h1 class="title">Francoralité : Plateforme numérique de gestion collaborative d’ensemble multi-média</h1>


  <h2 class="section">Plateforme</h2>

  <b>Patrimoine oral de la Francophonie (Grand-Ouest français, Canada francophone et Louisiane)</b>
  <p>
   Cette plateforme regroupe les fonds de littérature orale collectés dès les décennies 30-40 du XXe siècle dans la ruralité du Centre-Ouest français, du Canada francophone et de la Louisiane. Elle formalise un socle culturel cohérent qui s’étale sur ces différents territoires sur plus de quatre siècles d’histoire.
  </p>


  <h2 class="section">Présentation</h2>
  <p>
    Le fonctionnement de la plateforme s’appuie sur des techniques de documentation de plus en plus avancées en vue de valorisation qui rejoignent les domaines d’application dans les secteurs de la patrimonialisation, du tourisme, de la création artistique et de la participation des populations locales.
  </p>
  <p>
    La plateforme ambitionne également de dynamiser les démarches scientifiques. Il s’agit non seulement de poser l’archive sonore en alternative au document écrit en tant que source de savoirs mais aussi de mettre en écho les témoignages d’hier avec les préoccupations d’aujourd’hui et enfin d’interroger les dynamiques interculturelles au travers des circulations transatlantiques liées au fait acadien et cadien.
  </p>

  <h2 class="section">Fonctionnalités</h2>

<ul>
  <li>Archivage, édition et publications sécurisés de fichiers audio, par Internet</li>
  <li>Interface Web utilisateur "Pure HTML" utilisant des formulaires dynamiques et une gestion de flux adaptée</li>
  <li>Analyse et transcodage de fichiers audio "à la volée", grâce à TimeSide</li>
  <li>Lecteur audio évolué et personnalisable, avec saisie d'annotations</li>
</ul>



<h2 class="section">Organisation du catalogue</h2>

<p>
  Le catalogue est organisé en 5 niveaux : <b>Institutions</b> (emplacement propre à chacun des partenaires scientifiques), <b>Fonds, Missions, Enquêtes,</b> et <b>Items</b>. Le niveau principal de description est l’<b>Enquête</b>.
</p>
<p>
  Chaque enquête regroupe l’ensemble des fichiers audio (<b>Items</b>) collectés auprès d’une même personne (ou groupe de personnes), le même jour en un même lieu. Les enquêtes répondant d’un ensemble cohérent ou collectées sur une même année sont regroupées en <b>Missions</b> qui, réunies autour d’un collecteur, constituent le niveau <b>Fonds</b>.
</p>
<p>
  Le nombre d’enregistrements mis en ligne sur la plateforme est en constante augmentation. Les fiches descriptives sont renseignées de manière collaborative par les usagers des différents partenaires de la plateforme.
</p>

</div>

</div>

{% endblock %}
