{% extends "institution.html" %}
{% load i18n %}
{% load markdown_extra %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}



{% block title %}
  <h1>
    <img src="{{ STATIC_URL }}telemeta/images/collections_red.png" style="vertical-align:middle" />
    {% trans "Institution" %}
    {% if institution %}
     : {{ institution.name }}
    {% endif %}
  </h1>
{% endblock %}

{% block title_buttons %}
  <a href="{% url "institution-edit" id=id %}">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %} </span>
  </button>
  </a>
{% endblock %}

{% block content %}
{% if institution %}
{{institution.notes|markdown|safe}}

  <h2>{% trans "Fonds" %}</h2>
  <div class="with-rightcol">
       <table class="listing">
           <tr>
               <th class="highlight">{% trans "Titre" %}</th>
               <th>{% trans "Code" %}</th>
               <th>{% trans "Description" %}</th>
           </tr>

       </table>
  </div>
{% else %}
  <p>{% trans "Cette institution n'existe pas." %}"</p>
{% endif %}
{% endblock %}
