{% extends "base.html" %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title %}
<div class="col-md-4">
  <img src="{{ STATIC_URL }}telemeta/images/collections_red.png"
    style="vertical-align:middle" />
    <h1>Institutions</h1>
</div>
<div class="col-md-8">
</div>
<div class="col-md-0">&nbsp;</div>
</div>
{% endblock %}

</div>
{% block content %}
<div class="fullpage">
{% if institutions|length > 0 %}
  <!-- Table to display the institutions --->
  <table class="listing">
  <tr>
      <th class="highlight">Nom</th>
      <th>Notes</th>
  </tr>
  {% for institution in institutions %}
  <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
      <td class="highlight">
          <a href="/institution/{{ institution.id }}/">
            {{ institution.name }}</a>
      </td>
      <td>{{ institution.notes|safe }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
    <p>Il n'y a pas d'institutions</p>
{% endif %}
</div>
{% endblock %}
