{% extends "institution.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}



{% block title %}
  <h1>
    <img src="{{ STATIC_URL }}telemeta/images/collections_red.png" style="vertical-align:middle" />
    {% trans "Institution" %}
    {% if institution %}
     : {{ institution.name }}
    {% endif %}
  </h1>
{% endblock %}

{% block title_buttons %}
  <a href="{% url "fond-add" %}">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer un fonds" %}
    </button>
  </a>
  <a href="{% url "institution-edit" id=id %}">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-edit"></span>{% trans "Modifier" %}
    </button>
  </a>
{% endblock %}

{% block content %}
{% if institution %}
{{institution.notes|markdown|safe}}

  {% if fonds|length > 0 %}
  <h2>{% trans "Fonds" %}</h2>
  <div class="with-rightcol">
    <table class="listing">
    <tr>
        <th class="highlight">{% trans "cote" %}</th>
        <th>{% trans "Nom" %}</th>
        <th>{% trans "Description" %}</th>
    </tr>
    {% for fond in fonds %}
      <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
          <td class="highlight">
              <a href="/fond/{{ fond.id }}/">
                {{ fond.code|upper|safe }}</a>
          </td>
          <td>{{ fond.title|safe }}</td>
          <td>{{ fond.description|markdown|safe }}</td>
          <td>
            {% buttons %}
            <a href="{% url "fond-edit" id=fond.id %}">
                  <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
                  </button>
            </a>
            <button type="button" class="btn btn-default"
                data-toggle="modal" data-target="#modalDelete"
                data-name="{{fond.title}}"
                data-url="{% url "fond-delete" id=fond.id %}">
                  <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
            </button>
            {% endbuttons %}
          </td>
        </tr>
      </table>
    </div>
      {% endfor %}

      {% modal_delete %}
  {% else %}
    {% trans "Il n'a pas de fonds pour cette institution." %}
  {% endif %}
{% else %}
  <p>{% trans "Cette institution n'existe pas." %}"</p>
{% endif %}
{% endblock %}
