{% extends "institution.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}



{% block title %}
  <h1>
    <img src="{{ STATIC_URL }}telemeta/images/collections_red.png" style="vertical-align:middle" />
    {% trans "Institution" %}
    {% if institution %}
     : {{ institution.name }}
    {% endif %}
  </h1>
{% endblock %}

{% block title_buttons %}
    {% include "inc/button_append.html" with entity="fond" word="Créer un fonds" %}
    {% include "inc/button_edit.html" with entity="institution" id=id %}
{% endblock %}

{% block content %}
{% if institution %}
{{institution.notes|markdown|safe}}

  {% if fonds|length > 0 %}
  <h2>{% trans "Fonds" %}</h2>
  <div class="with-rightcol">
    <table class="listing">
    <tr>
        <th class="highlight">{% trans "cote" %}</th>
        <th>{% trans "Nom" %}</th>
        <th>{% trans "Description" %}</th>
        <th></th>
    </tr>
    {% for fond in fonds %}
      <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
          <td class="highlight">
              <a href="/fond/{{ fond.id }}/">
                {{ fond.code|upper|safe }}</a>
          </td>
          <td>{{ fond.title|safe }}</td>
          <td>
            {% if fond.description %}
            {{ fond.description|markdown|safe }}</td>
            {% endif %}
          <td>
            {% buttons %}
              {% include "inc/buttons_list.html" with entity="fond" id=fond.id name=fond.title %}
            {% endbuttons %}
          </td>
        </tr>
      {% endfor %}
    </table>
    </div>

      {% modal_delete %}
  {% else %}
    {% trans "Il n'a pas de fonds pour cette institution." %}
  {% endif %}
{% else %}
  <p>{% trans "Cette institution n'existe pas." %}"</p>
{% endif %}
{% endblock %}
