
{% extends "item-detail.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load data_display %}
{% load markdown_extra %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block javascript %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-select/2.5.1/vue-select.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
{% endblock %}

{% block title_name %}
   {{ block.super}}
   {% if id %}
   {% trans "Modification" %}
   {% else %}
   {% trans "Création" %}
   {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}


{{ form.media }}
{% if not error|length %}
<div id="app">
  <div class="fixedWidthAsPlayer">
    <img id="wait-img" style="display:none" style="vertical-align:middle" alt="wait" src="{{ STATIC_URL }}telemeta/images/wait.gif" />
  </div>
  {% block player %}
  <div id="player_maximized" class="ts-skin-lab">
     <div id="player_header">
      <a href="#" class="toggle">Minimize</a>
      <a href="#" class="embed_player_frame">&lt;/&gt;</a>
     </div>
      <div class="wazing"></div>
  </div>
  <div id="rightcol">
      <div id="player_minimized" class="ts-skin-lab">
          <a href="#" class="toggle">Maximize</a>
          <a href="#" class="embed_player_frame">&lt;/&gt;</a>
          <div class="wazing"></div>
          <div id="player" class="ts-player">
          </div>
      </div>
    </div>
  {% endblock %}
<!-- Tabs -->
<ul class="nav nav-tabs" role="tablist">
   <li class="nav-item active">
     <a href="#tab_general" role="tab" data-toggle="tab">{% trans "Général" %}</a>
   </li>
   <li class="nav-item">
     <a href="#tab_desc" role="tab" data-toggle="tab">{% trans "Description" %}</a>
   </li>
   <li class="nav-item">
     <a href="#tab_text" role="tab" data-toggle="tab">{% trans "Texte" %}</a>
   </li>
   <li class="nav-item">
     <a href="#tab_vox" role="tab" data-toggle="tab">{% trans "Voix/Instruments" %}</a>
   </li>
   <li class="nav-item">
     <a href="#tab_mark" role="tab" data-toggle="tab">{% trans "Marqueurs" %}</a>
   </li>
</ul>

<div class="container">

  {% if id %}
  <form enctype="multipart/form-data" action="{%url "item-edit" id %}" method="POST">
  {% else %}
  <form enctype="multipart/form-data" action="{{request.path}}" method="POST">
  {% endif %}
    {% csrf_token %}

    <div class="tab-content">
      <!-- Tab General -->
      <div class="tab-pane fade active in" id="tab_general">
        {% bootstrap_field form.collection layout='vertical' %}
        {% bootstrap_field form.title layout='vertical' %}
        {% bootstrap_field form.alt_title layout='vertical' %}
        {% bootstrap_field form.trans_title layout='vertical' %}
        {% bootstrap_field form.description layout='vertical' %}
        {% if id %}
          <div hidden=True>
        {% else %}
          <div>
        {% endif %}
        {% bootstrap_field form.file layout='vertical' %}
        </div>



        <div class="block-grey">
          <h2>{% trans "Personnes" %}</h2>

          <!-- Collectors -->
          <div class="container_data">
            <label class="control_label">{% trans "Enquêteur(s)" %}</label>
            <v-select
              multiple
                v-model="collectors"
                label="first_name"
                :filterable="false"
                @search="onSearchCollectors"
                :options="optionsCollectors">
                <template slot="option" slot-scope="option">
                  ${ option.first_name } ${ option.last_name } -
                  <a :href="option.url"
                    onclick="window.open(this.href); return false;">
                    <i>Fiche...</i></a>
                </template>
                <template slot="selected-option" slot-label="countryName" scope="option">
                  <a :href="option.url"
                  onclick="window.open(this.href); return false;">
                  ${ option.first_name } ${ option.last_name }</a>
                </template>
            </v-select>
          </div>
          <input name="collectors" type="hidden"
            :value="JSON.stringify(collectors,replacerCollector)" />

          <!-- Informers -->
          <div class="container_data">
            <label class="control_label">{% trans "Informateur(s)" %}</label>
            <v-select
              multiple
                v-model="informers"
                label="first_name"
                :filterable="false"
                @search="onSearchInformers"
                :options="optionsInformers">
                <template slot="option" slot-scope="option">
                  ${ option.first_name } ${ option.last_name } -
                  <a :href="option.url"
                    onclick="window.open(this.href); return false;">
                    <i>Fiche...</i></a>
                </template>
                <template slot="selected-option" slot-scope="option">
                  <a :href="option.url"
                  onclick="window.open(this.href); return false;">
                  ${ option.first_name } ${ option.last_name }</a>
                </template>
            </v-select>
          </div>
          <input name="informers" type="hidden"
            :value="JSON.stringify(informers, replacerInformer)" />

        </div>

        <div class="block-grey">
          <h2>{% trans "Indications géographiques et culturelles" %}</h2>
          {% related_list libelle='Lieux' items=collection.locations url_detail="location_gis-detail" field="code" %}
          <!-- Language -->
          <div class="container_data">
            <label class="control_label">{% trans "Langue(s)" %}</label>
            <v-select
            multiple
            v-model="languages"
            label="name"
            :filterable="false"
            @search="onSearchLanguages"
            :options="optionsLanguages">
              <template slot="option" slot-scope="option">
                <p>${ option.name }</p>
              </template>
              <template slot="selected-option" slot-scope="option">
                ${ option.name }
              </template>
            </v-select>
          </div>
          <input name="languages" type="hidden"
          :value="JSON.stringify(languages,replacerLanguage)" />

        </div>

        <div class="block-grey">
          <h2>{% trans "Données d'archivage" %}</h2>
          {% bootstrap_field form.code layout='vertical' %}
          {% bootstrap_field form.code_partner layout='vertical' %}
          {% bootstrap_field form.auto_period_access layout='vertical' %}
          {% bootstrap_field form.remarks layout='vertical' %}

        </div>

        <div class="block-grey">
          <h2>{% trans "Données techniques" %}</h2>
          {% bootstrap_field form.media_type layout='vertical' %}
        </div>

        <!-- Media ---------------------------------------------->
        <div class="block-grey">
          <h2>{% trans "Média associés" %}</h2>
          <div class="container_line">
            <template>
              <div v-for="(doc, index) in documents"
                v-bind:key="index">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class=container_line>
                      <input v-model="doc.id" hidden="True" type="number" />
                      <span class="container_data one">
                        <label class="control_label">{% trans "Nakala ID" %}</label>
                        <input v-model="doc.id_nakala" type="string"
                        required="required" pattern=".*\S+.*"/>
                      </span>
                      <span class="container_data one">
                        <label class="control_label">{% trans "Titre" %}</label>
                        <input v-model="doc.title" type="string"
                        required="required" pattern=".*\S+.*"/>
                      </span>
                      <span class="container_data four">
                        <label class="control_label">{% trans "Description" %}</label>
                        <input v-model="doc.description" type="string" required="required"/>
                      </span>
                      <span class="container_data two">
                        <label class="control_label">{% trans "Crédits" %}</label>
                        <input v-model="doc.credits" type="string" required="required"/>
                      </span>
                    </div>

                    <div class="center">
                      <button type="button" @click="removeDoc(index)"
                        class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                        {% trans "Supprimer" %}
                      </button>
                      <button type="button"
                        v-if="index + 1 === documents.length"
                        @click="addDoc" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                        {% trans "Ajouter une référence NAKALA" %}
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </template>
            <input name="media" type="hidden" :value="JSON.stringify(documents,replacerMedia)" />
          </div>
        </div>

      </div>

      <!-- Tab Description --------------------------------------->
      <div class="tab-pane" id="tab_desc">
        <!-- Authors -->
        <div class="container_data">
          <label class="control_label">{% trans "Auteur(s)" %}</label>
          <v-select
            multiple
              v-model="authors"
              label="first_name"
              :filterable="false"
              @search="onSearchAuthors"
              :options="optionsAuthors">
              <template slot="option" slot-scope="option">
                ${ option.first_name } ${ option.last_name } -
                <a :href="option.url"
                  onclick="window.open(this.href); return false;">
                  <i>Fiche...</i></a>
              </template>
              <template slot="selected-option" slot-label="countryName" scope="option">
                <a :href="option.url"
                onclick="window.open(this.href); return false;">
                ${ option.first_name } ${ option.last_name }</a>
              </template>
          </v-select>
        </div>
        <input name="authors" type="hidden"
          :value="JSON.stringify(authors,replacerAuthor)" />

        <!-- Compositors -->
        <div class="container_data">
          <label class="control_label">{% trans "Compositeur(s)" %}</label>
          <v-select
            multiple
              v-model="compositors"
              label="first_name"
              :filterable="false"
              @search="onSearchCompositors"
              :options="optionsCompositors">
              <template slot="option" slot-scope="option">
                ${ option.first_name } ${ option.last_name } -
                <a :href="option.url"
                  onclick="window.open(this.href); return false;">
                  <i>Fiche...</i></a>
              </template>
              <template slot="selected-option" slot-label="countryName" scope="option">
                <a :href="option.url"
                onclick="window.open(this.href); return false;">
                ${ option.first_name } ${ option.last_name }</a>
              </template>
          </v-select>
        </div>
        <input name="compositors" type="hidden"
          :value="JSON.stringify(compositors,replacerCompositor)" />

        {% bootstrap_field form.timbre layout='vertical' %}
        {% bootstrap_field form.timbre_ref layout='vertical' %}
        <div class="block-grey row">
          <div class="col-md-6">
            <label for="id_melody" class="control-label melody">{% trans "Mélodie (transcription alphabétique)" %}</label>
              <textarea id="id_melody" name="melody" cols="80" rows="15">
                {{form.melody.value|safe}}
              </textarea>
              <div id="midi"></div>
              <div id="midi-download"></div>
              <div id="warnings"></div>
            </div>
          <div class="col-md-6">
            <div id="paper0" class="paper"></div>
            <div id="selection"></div>
          </div>

          <script src="{{ STATIC_URL }}telemeta_front/js/melody_abc.js" type="text/javascript"></script>
        </div>

        <div class="block-grey">
          <h2>{% trans "Genres" %}</h2>

          {% bootstrap_field form.domains layout='vertical' %}

          <!-- Domain song -->
          <div class="container_data">
          <label class="control_label">{% trans "Genre(s) de la chanson" %}</label>
          <v-select
          multiple
          v-model="domainsongs"
          label="name"
          :filterable="false"
          @search="onSearchDomainsongs"
          :options="optionsDomainsongs">
            <template slot="option" slot-scope="option">
              ${ option.name } -
                <a :href="option.url"
                  onclick="window.open(this.href); return false;">
                  <i>Fiche...</i></a>
            </template>
            <template slot="selected-option" slot-scope="option">
              <a :href="option.url"
              onclick="window.open(this.href); return false;">
              ${ option.name }</a>
            </template>
          </v-select>
          </div>
          <input name="domainsongs" type="hidden"
          :value="JSON.stringify(domainsongs,replacerDomainsong)" />

          <!-- Domain vocal -->
          <div class="container_data">
          <label class="control_label">{% trans "Genre(s) de l'expression vocale" %}</label>
          <v-select
          multiple
          v-model="domainvocals"
          label="name"
          :filterable="false"
          @search="onSearchDomainvocals"
          :options="optionsDomainvocals">
            <template slot="option" slot-scope="option">
              ${ option.name } -
                <a :href="option.url"
                  onclick="window.open(this.href); return false;">
                  <i>Fiche...</i></a>
            </template>
            <template slot="selected-option" slot-scope="option">
              <a :href="option.url"
              onclick="window.open(this.href); return false;">
              ${ option.name }</a>
            </template>
          </v-select>
          </div>
          <input name="domainvocals" type="hidden"
          :value="JSON.stringify(domainvocals,replacerDomainvocal)" />

          <!-- Domain music -->
          <div class="container_data">
          <label class="control_label">{% trans "Genre(s) de l'expression instrumentale" %}</label>
          <v-select
          multiple
          v-model="domainmusics"
          label="name"
          :filterable="false"
          @search="onSearchDomainmusics"
          :options="optionsDomainmusics">
            <template slot="option" slot-scope="option">
              ${ option.name } -
                <a :href="option.url"
                  onclick="window.open(this.href); return false;">
                  <i>Fiche...</i></a>
            </template>
            <template slot="selected-option" slot-scope="option">
              <a :href="option.url"
              onclick="window.open(this.href); return false;">
              ${ option.name }</a>
            </template>
          </v-select>
          </div>
          <input name="domainmusics" type="hidden"
          :value="JSON.stringify(domainmusics,replacerDomainmusic)" />

          <!-- Domain tale -->
          <div class="container_data">
          <label class="control_label">{% trans "Genre(s) du conte" %}</label>
          <v-select
          multiple
          v-model="domaintales"
          label="name"
          :filterable="false"
          @search="onSearchDomaintales"
          :options="optionsDomaintales">
            <template slot="option" slot-scope="option">
              ${ option.name } -
                <a :href="option.url"
                  onclick="window.open(this.href); return false;">
                  <i>Fiche...</i></a>
            </template>
            <template slot="selected-option" slot-scope="option">
              <a :href="option.url"
              onclick="window.open(this.href); return false;">
              ${ option.name }</a>
            </template>
          </v-select>
          </div>
          <input name="domaintales" type="hidden"
          :value="JSON.stringify(domaintales,replacerDomaintale)" />

        </div>

        <div class="block-grey">
          <h2>{% trans "Témoignage" %}</h2>
          {% bootstrap_field  form.deposit_digest layout='vertical' %}

          <!-- Thematic -->
          <div class="container_data">
          <label class="control_label">{% trans "Thématique(s)" %}</label>
          <v-select
          multiple
          v-model="thematics"
          label="name"
          :filterable="false"
          @search="onSearchThematics"
          :options="optionsThematics">
            <template slot="option" slot-scope="option">
              ${ option.name } -
                <a :href="option.url"
                  onclick="window.open(this.href); return false;">
                  <i>Fiche...</i></a>
            </template>
            <template slot="selected-option" slot-scope="option">
              <a :href="option.url"
              onclick="window.open(this.href); return false;">
              ${ option.name }</a>
            </template>
          </v-select>
          </div>
          <input name="thematics" type="hidden"
          :value="JSON.stringify(thematics,replacerThematic)" />

          {% bootstrap_field  form.deposit_names layout='vertical' %}
          {% bootstrap_field  form.deposit_places layout='vertical' %}
          {% bootstrap_field  form.deposit_periods layout='vertical' %}
        </div>

        <!-- Usefulness -->
        <div class="container_data">
        <label class="control_label">{% trans "Fonction(s)" %}</label>
        <v-select
        multiple
        v-model="usefulnesses"
        label="name"
        :filterable="false"
        @search="onSearchUsefulness"
        :options="optionsUsefullness">
          <template slot="option" slot-scope="option">
            ${ option.name } -
              <a :href="option.url"
                onclick="window.open(this.href); return false;">
                <i>Fiche...</i></a>
          </template>
          <template slot="selected-option" slot-scope="option">
            <a :href="option.url"
            onclick="window.open(this.href); return false;">
            ${ option.name }</a>
          </template>
        </v-select>
        </div>
        <input name="usefulnesses" type="hidden"
        :value="JSON.stringify(usefulnesses,replacerUsefulness)" />

        <!-- Dance -->
        <div class="container_data">
        <label class="control_label">{% trans "Danse(s)" %}</label>
        <v-select
        multiple
        v-model="dances"
        label="name"
        :filterable="false"
        @search="onSearchDance"
        :options="optionsDances">
          <template slot="option" slot-scope="option">
            <p>${ option.name }</p>
          </template>
          <template slot="selected-option" slot-scope="option">
            ${ option.name }
          </template>
        </v-select>
        </div>
        <input name="dances" type="hidden"
        :value="JSON.stringify(dances,replacerDance)" />


      </div>

      <!-- Tab Text ---------------------------------------------->
      <div class="tab-pane" id="tab_text">
        {% bootstrap_field form.text_bool layout='vertical' %}
        {% bootstrap_field form.text layout='vertical' %}
        {% bootstrap_field form.incipit layout='vertical' %}
        {% bootstrap_field form.refrain layout='vertical' %}
        {% bootstrap_field form.jingle layout='vertical' %}
        {% bootstrap_field form.coupe layout='vertical' %}

        <div class="block-grey">
          <h2>{% trans "Références" %}</h2>
          <div class="container_data">
            <label class="control_label">{% trans "Titre(s) référencé(s) et cote(s) Coirault" %}</label>
            <v-select
            multiple
            v-model="coiraults"
            label="name"
            :filterable="false"
            @search="onSearchCoirault"
            :options="optionsCoirault">
              <template slot="option" slot-scope="option">
                ${option.number} : ${ option.name } -
                  <a :href="option.url"
                    onclick="window.open(this.href); return false;">
                    <i>Fiche...</i></a>
              </template>
              <template slot="selected-option" slot-scope="option">
                <a :href="option.url"
                onclick="window.open(this.href); return false;">
                ${option.number} : ${ option.name }</a>
              </template>
            </v-select>
          </div>
          <input name="coiraults" type="hidden"
          :value="JSON.stringify(coiraults,replacerCoirault)" />
        </div>
      </div>

      <!-- Tab Vox/Instruments ----------------------------------->
      <div class="tab-pane" id="tab_vox">

        <!-- Musical organization -->
        <div class="container_data">
          <label class="control_label">{% trans "Organisation(s) musicale(s)" %}</label>
          <v-select
          multiple
          v-model="musical_organizations"
          label="name"
          :filterable="false"
          @search="onSearchMusicalOrganizations"
          :options="optionsMusicalOrganizations">
            <template slot="option" slot-scope="option">
              <p>${ option.name }</p>
            </template>
            <template slot="selected-option" slot-scope="option">
              ${ option.name }
            </template>
          </v-select>
        </div>
        <input name="musical_organizations" type="hidden"
        :value="JSON.stringify(musical_organizations,replacerMusicalOrganization)" />

        <!-- Musical group -->
        <div class="container_data">
          <label class="control_label">{% trans "Formation(s) musicale(s)" %}</label>
          <v-select
          multiple
          v-model="musical_groups"
          label="name"
          :filterable="false"
          @search="onSearchMusicalGroups"
          :options="optionsMusicalGroups">
            <template slot="option" slot-scope="option">
              <p>${ option.name }</p>
            </template>
            <template slot="selected-option" slot-scope="option">
              ${ option.name }
            </template>
          </v-select>
        </div>
        <input name="musical_groups" type="hidden"
        :value="JSON.stringify(musical_groups,replacerMusicalGroup)" />

        <template>
          <div v-for="(line, index) in lines"
            v-bind:key="index">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class=container_line>
                  <input v-model="line.id" hidden="True" type="number" />
                  <span class="container_data one">
                    <label class="control_label">{% trans "Nombre" %}</label>
                    <input v-model="line.number" type="number"/>
                  </span>
                  <span class="container_data four">
                    <label class="control_label">{% trans "Voix/Instrument" %}</label>
                    <v-select
                      single
                      v-model="line.instrument"
                      label="name"
                      :filterable="false"
                      @search="onSearchInstruments"
                      :options="optionsInstruments">
                        <template slot="option" slot-scope="option">
                          <p>${ option.name }, ${ option.typology.number}</p>
                        </template>
                        <template slot="selected-option" slot-scope="option">
                          ${ option.name }, ${ option.typology.number}
                        </template>
                      </v-select>
                      <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                          {% trans "Créer une nouvelle voix/instrument" %}
                      </button>
                  </span>
                  <span class="container_data one">
                    <label class="control_label">{% trans "Nature émission vocale" %}</label>
                    <select v-model="line.emit">
                      <option v-for="option in optionsEmit" v-bind:value="option.id">
                        ${option.name }
                      </option>
                    </select>
                  </span>
                </div>
                <div class=container_line>
                  <span class="container_data">
                    <label class="control_label">{% trans "Informateur(s)" %}</label>
                    <v-select
                      multiple
                        v-model="line.informers"
                        label="first_name"
                        :filterable="false"
                        @search="onSearchMusicians"
                        :options="optionsMusicians">
                        <template slot="option" slot-scope="option">
                          ${ option.first_name } ${ option.last_name } -
                          <a :href="option.url"
                            onclick="window.open(this.href); return false;">
                            <i>Fiche...</i></a>
                        </template>
                        <template slot="selected-option" slot-scope="option">
                          <a :href="option.url"
                          onclick="window.open(this.href); return false;">
                          ${ option.first_name } ${ option.last_name }</a>
                        </template>
                      </v-select>
                      <input :name="'musicians'+index"
                            type="hidden"
                            :value="JSON.stringify(line.informers)" />
                  </span>
                </div>
                <div class="center">
                  <button type="button" @click="removeLine(index)"
                    class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                    {% trans "Supprimer" %}
                  </button>
                  <button type="button"
                    v-if="index + 1 === lines.length"
                    @click="addLine" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                    {% trans "Ajouter une voix/instrument" %}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <button type="button"
            v-if="lines.length === 0"
            @click="addLine" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            {% trans "Ajouter une voix/instrument" %}
          </button>

        </template>

        <input name="performances" type="hidden"
          :value="JSON.stringify(lines,replacerPerformance)" />
        </div>
        <!-- Tab Player/Markers ------------------------------------>
        <div class="tab-pane" id="tab_mark">

            <span id="loading_span" href="#"><img style="vertical-align:middle" alt="wait" src="{{ STATIC_URL }}telemeta/images/wait.gif" />&nbsp;
                <span id="loading_span_text">Loading...</span></span>
            <a id="tab_analysis" style="display:none" class ="tab" href="#">{% trans "File" %}</a><!--
             do not let space here as it appears in the document!!!!!
            --><a id="tab_markers" style="display:none" class="tab" href="#">{% trans "Markers" %}</a>

            <div class="markers" id="markers_div_id"></div>

            <div class="analyzer" id="analyzer_div_id">
              <table width="100%">
                  <tr class="analyzer-title">
                      <td>{% trans "Property" %}</td>
                      <td>{% trans "Value" %}</td>
                      <td>{% trans "Unit" %}</td>
                  </tr>
              </table>
            </div>
        </div>

    </div>
    <!-- end tab-content -->


    {% if id %}
    {% buttons submit='Modifier' reset="Annuler" %}{% endbuttons %}
    {% else %}
    {% buttons submit='Ajouter' reset="Annuler" %}{% endbuttons %}
    {% endif %}
  </form>

</div>

</div>

{% select_vue_item %}

<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>

<!-- Markdown fields -->
{% markdown_editor "id_descriptions" %}
{% markdown_editor "id_remarks" %}
{% markdown_editor "id_deposit_digest" %}
{% markdown_editor "id_text" %}
{% markdown_editor "id_incipit" %}
{% markdown_editor "id_refrain" %}
{% markdown_editor "id_jingle" %}

{% else %}
  {% display_error error %}
{% endif %}

{{ form.media.js }}
{% endblock content %}
