
{% extends "item.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">

      {% if item.file or item.url %}
        //initializing soundManager default properties
        soundManager.flashVersion = 9;
        soundManager.url = "{{ STATIC_URL }}SoundManager2/swf/";
        soundManager.debugMode = false;
        soundManager.useHTML5Audio = true;
        soundManager.preferFlash = false;
        soundManager.html5PollingInterval = 50;

        //initializing the visualizers to be passed to the player
        {% block graphers %}
        var visualizers = {};
        {% for g in graphers %}
            visualizers["{{g.grapher}}"] = "/api/timeside/{{item.id}}/soundimage/{{g.grapher}}/WIDTHxHEIGHT/";
        {% endfor %}

        {% endblock graphers %}

        {% if user.is_superuser %}
             loadPlayer('/api/timeside/{{item.id}}/analyze/',
              "/api/item/{{item.id}}/download/{{item.code}}.mp3",
              undefined, '{{item.id}}', visualizers,
              CURRENT_USER_NAME,
              true); //true because superuser
        {% else %}
           loadPlayer('/api/timeside/{{item.id}}/analyze/',
             "/api/item/{{item.id}}/download/{{item.code}}.mp3",
             undefined, '{{item.id}}', visualizers,
             CURRENT_USER_NAME,
             false); //false because not superuser
        {% endif %}
      {% endif %}
  </script>
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}


{% block title_name %}
    {{ block.super }}
    {% if item %}
     : {{ item.code|upper }} - {{  item.title}}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
{% if user.is_authenticated %}
 <a href="{% url "item-add" id_institution=item.collection.mission.fonds.institution.id id_fond=item.collection.mission.fonds.id id_mission=item.collection.mission.id id_collection=item.collection.id %}" class="btn_add btn btn-default">
     <span class="glyphicon glyphicon-plus"></span>
     {% trans "Créer un item" %}
 </a>
  <a href="{% url "item-edit" id=id %}"  class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
  {% if item %}

  <!-- Tabs -->
  <ul class="nav nav-tabs" role="tablist">
     <li class="nav-item active">
       <a href="#tab_general" role="tab" data-toggle="tab">{% trans "Général" %}</a>
     </li>
     <li class="nav-item">
       <a href="#tab_desc" role="tab" data-toggle="tab">{% trans "Description" %}</a>
     </li>
     <li class="nav-item">
       <a href="#tab_text" role="tab" data-toggle="tab">{% trans "Texte" %}</a>
     </li>
     <li class="nav-item">
       <a href="#tab_vox" role="tab" data-toggle="tab">{% trans "Voix/Instruments" %}</a>
     </li>
     <li class="nav-item">
       <a href="#tab_mark" role="tab" data-toggle="tab">{% trans "Marqueurs" %}</a>
     </li>
  </ul>

  <div class="tab-content">
    <!-- Tab General -->
    <section class="tab-pane fade active in" id="tab_general">
      <h2>Général</h2>

      {% block player %}

      <div id="player_maximized" class="ts-skin-lab">
         <div id="player_header">
          <a href="#" class="toggle">{% trans "Réduire"  %}</a>
          <a href="#" class="embed_player_frame">&lt;/&gt;</a>
         </div>
          <div class="wazing"></div>
      </div>
      <div id="rightcol" class="player_position">
          <div id="player_minimized" class="ts-skin-lab">
              <a href="#" class="toggle">{% trans "Agrandir"  %}</a>
              <a href="#" class="embed_player_frame">&lt;/&gt;</a>
              <div class="wazing"></div>
              <div id="player" class="ts-player">
              </div>
          </div>


          <div id="tabs_container">
              <!-- this div will be hidden when everything is fully loaded-->
              <a id="loading_span" href="#"><img style="vertical-align:middle" alt="wait" src="{{ STATIC_URL }}telemeta/images/wait.gif" />&nbsp;
                  <span id="loading_span_text">{% trans "Chargement " %}...</span></a>
              <a id="tab_analysis" style="display:none" class ="tab" href="#">{% trans "Fichiers" %}</a><!--
               do not let space here as it appears in the document!!!!!
             --><a id="tab_markers" style="display:none" class="tab" href="#">{% trans "Marqueurs" %}</a>
          </div>

          <div class="markers" id="markers_div_id"></div>

          <div class="analyzer" id="analyzer_div_id">
              <table>
                  <tr class="analyzer-title">
                      <td>{% trans "Property" %}</td>
                      <td>{% trans "Value" %}</td>
                      <td>{% trans "Unit" %}</td>
                  </tr>
              </table>
          </div>

      </div>
      {% endblock player %}
      <div class="champs_general">
        <dl class="container_data">
          <dt class="libelle"> {{form.collection.label|safe}}</dt>
          <dd class="donnee">
            <a href="{% url "collection-detail" id=item.collection.id %}">
              {{item.collection.title|safe}}
            </a>
          </dd>
        </dl>
        {% field_data form.title.label|safe item.title|safe %}
        {% field_data form.alt_title.label|safe item.alt_title|safe %}
        {% field_data form.trans_title.label|safe item.trans_title|safe %}
      </div>

      <div class="container_line">
        {% field_data form.description.label|safe item.description|markdown|safe %}
      </div>

      <div class="block-grey">
        <h2>{% trans "Personnes" %}</h2>
        {% related_list libelle='Enquêteurs' items=item.collectors url_detail="personne-detail" field="first_name" field2="last_name"%}
        {% related_list libelle='Informateurs' items=item.informers url_detail="personne-detail" field="first_name" field2="last_name"%}
      </div>

      <div class="block-grey">
        <h2>{% trans "Données d'archivage" %}</h2>
        {% field_data form.code.label|safe item.code|upper|safe %}
        {% field_data form.code_partner.label|safe item.code_partner|safe %}
      </div>

      <div class="block-grey">
        <h2>{% trans "Indications géographiques et culturelles" %}</h2>
        {% related_list libelle='Lieux' items=collection.locations url_detail="location_gis-detail" field="code" %}
        {% field_data form_collection.location_details.label|safe item.collection.location_details|markdown|safe %}
        {% related_list libelle='Langues' items=collection.languages field="name" %}
        {% field_data form_collection.recording_context.label|safe item.collection.recording_context.value|safe %}
      </div>

      <div class="block-grey">
        <h2>{% trans "Médias associés" %}</h2>
        {% display_documents %}
      </div>

    </section>

    <!-- Tab Description --------------------------------------->
    <section class="tab-pane" id="tab_desc">
      <h2>Description</h2>
      {% related_list libelle='Auteurs' items=item.authors url_detail="personne-detail" field="first_name" field2="last_name"%}
      {% related_list libelle='Compositeurs' items=item.compositors url_detail="personne-detail" field="first_name" field2="last_name"%}
      {% field_data form.timbre.label|safe item.timbre|safe %}
      {% field_data form.timbre_ref.label|safe item.timbre_ref|safe %}

      {% field_data form.domains.label|safe item.domains|safe %}
      {% related_list libelle='Fonction(s)' items=item.usefulnesses url_detail="usefulness-detail" field="name" %}
      {% related_list libelle='Danse(s)' items=item.dances url_detail="dance-detail" field="name" %}

      <div class="block-grey row">
        <div class="col-md-6">
          <label for="id_melody" class="melody">Mélodie (transcription alphabétique)</label>
          <textarea name="melody" id="id_melody" cols="80" rows="15" readonly>
              {{item.melody|safe}}
          </textarea>
          <div id="midi"></div>
          <div id="midi-download"></div>
          <div id="warnings"></div>
        </div>
        <div class="col-md-6">
          <div id="paper0" class="paper"></div>

          <div id="selection"></div>
        </div>
        <script src="{{ STATIC_URL }}telemeta_front/js/melody_abc.js" type="text/javascript"></script>
      </div>

      <div class="container_data">
        <h3 class="libelle">{{form.melody.label|safe}}</h3>
        <div class="donnee">{{item.melody|markdown|safe}}</div>
      </div>

      <div class="container_data">
        <h3 class="libelle">{{form.domains.label|safe}}</h3>
        {% related_list libelle='Genre(s) de la chanson' items=item.domain_songs url_detail="domain_song-detail" field="name" %}
        {% related_list libelle="Genre(s) de l'expression vocale" items=item.domain_vocals url_detail="domain_vocal-detail" field="name" %}
        {% related_list libelle="Genre(s) de l'expression instrumentale" items=item.domain_musics url_detail="domain_music-detail" field="name" %}
        {% related_list libelle='Genre(s) du conte' items=item.domain_tales url_detail="domain_tale-detail" field="name" %}
      </div>


      <aside class="block-grey">
        <h2>{% trans "Témoignage" %}</h2>
        {% field_data form.deposit_digest.label|safe item.deposit_digest|markdown|safe %}
        {% related_list libelle='Thématique(s)' items=item.thematics url_detail="thematic-detail" field="name" %}
        {% field_data form.deposit_names.label|safe item.deposit_names|safe %}
        {% field_data form.deposit_places.label|safe item.deposit_places|safe %}
        {% field_data form.deposit_periods.label|safe item.deposit_periods|safe %}
      </aside>
    </section>

    <!-- Tab Text ---------------------------------------------->
    <section class="tab-pane" id="tab_text">
      <h2>Texte</h2>
      <dl class="container_data">
        <dt class="libelle">{{form.text_bool.label|safe}}</dt>
        <dd class="donnee">{{item.text_bool|markdown|safe}}</dd>
      </dl>

      <dl class="container_data">
        <dt class="libelle">{{form.text.label|safe}}</dt>
        <dd class="donnee">{{item.text|markdown|safe}}</dd>
      </dl>

      <dl class="container_data">
        <dt class="libelle">{{form.incipit.label|safe}}</dt>
        <dd class="donnee">{{item.incipit|markdown|safe}}</dd>
      </dl>

      <dl class="container_data">
        <dt class="libelle">{{form.refrain.label|safe}}</dt>
        <dd class="donnee">{{item.refrain|markdown|safe}}</dd>
      </dl>

      <dl class="container_data">
        <dt class="libelle">{{form.jingle.label|safe}}</dt>
        <dd class="donnee">{{item.jingle|markdown|safe}}</dd>
      </dl>
    </section>

    <!-- Tab Vox/Instruments ----------------------------------->
    <section class="tab-pane" id="tab_vox">
      <h2>{% trans "Voix/Instruments" %}</h2>
      {% related_list libelle='Organisation musicale' items=item.musical_organizations url_detail="musical_organization-detail" field="name" %}
      {% related_list libelle='Formation musicale' items=item.musical_groups url_detail="musical_group-detail" field="name" %}
      <div class="block-grey">
        <h2>{% trans "Voix/Instruments" %}</h2>
        <span class="container_data">
          {% for performance in item.performances %}
          <div class="container_line">
              <dl class="container_data">
                <dt class="libelle">{% trans 'Nombre' %}</dt>
                <dd class="donnee">{{performance.number}}</dd>
              </dl>
              <dl class="container_data">
                <dt class="libelle">{% trans 'Instrument' %}</dt>
                <dd class="donnee">{{performance.instrument.name}}</dd>
              </dl>
              <dl class="container_data">
                <dt class="libelle">{% trans 'Typologie Horn-Bostel' %}</dt>
                <dd class="donnee">{{performance.instrument.typology.number}} :
                {{performance.instrument.typology.name}}</dd>
              </dl>
              <dl class="container_data">
                <dt class="libelle">{% trans "Nature de l'émission vocale" %}</dt>
                <dd class="donnee">{{performance.emit.name}}</dd>
              </dl>
              <dl class="container_data">
                <dt class="libelle">{% trans 'Musiciens' %}</dt>
                {{performers}}
                <dd class="donnee">
                  {% for musician in performance.musicians %}
                    {% if not forloop.first %} | {% endif %}
                    {{musician.first_name}}  {{musician.last_name}}
                  {% endfor %}
                </dd>
              </dl>
          </div>

          </div>
          {% endfor %}
        </span>
      </div>
    </section>

    <!-- Tab Player/Markers ------------------------------------>
    <section class="tab-pane" id="tab_mark">
      <h2>{% trans "Marqueurs" %}</h2>

      </section>

  </div>

  {% else %}
    <p>{% trans "Cet item n'existe pas." %}</p>
    {% endif %}
  {% else %}
    {% display_error error %}
  {% endif %}
  {% endblock %}
