{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}
{% load leaflet_tags %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
  <style>
    #mapid {
      height: 500px;
      width: 100%;
     }
     .leaflet-container {
       justify-content: center;
     }
  </style>
  {% leaflet_css %}
{% endblock %}

{% block title %}
<div class="col-md-4">
  <img src="{{ STATIC_URL }}telemeta/images/collections_red.png"
    style="vertical-align:middle" />
    <h1>{% trans "Lieux" %}</h1>
</div>
<div class="col-md-8">
</div>
<div class="col-md-0">&nbsp;</div>
</div>
{% endblock %}

{% block title_buttons %}
{% if user.is_authenticated %}
    <a href="{% url "location_gis-add" %}">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span> {% trans "Ajouter" %}
    </button>
    </a>
{% endif %}
{% endblock %}


</div>
{% block content %}
<div class="fullpage">


  {% leaflet_map "mapid" callback="window.map_init_basic"%}


  {% leaflet_js %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

  <script type="text/javascript">
   function map_init_basic (map, options) {
     bounds = L.bounds(
            L.point( 50, -85 ),
            L.point( 30, 0 )
        );
        map.setMaxZoom(18);
        map.setMaxBounds( bounds );
        map.fitBounds( [ [50, -85], [30, 0] ] );
        // Add a search control on the map
        // Type of geocoder to use
        geocoder = L.Control.Geocoder.nominatim({
            geocodingQueryParams:{limit:10,},
            });
        // Create a search control
        control = L.Control.geocoder({
            collapsed:false,
            placeholder:"Rechercher une localité ...",
            showResultIcons:true,
            geocoder: geocoder,
        })
        .addTo(map);

        var markers = L.markerClusterGroup( {
            showCoverageOnHover: true,
            zoomToBoundsOnClick: true,
            removeOutsideVisibleBounds: true
          } );

        axios.get(
        `/api/locationgis/?ordering=code`
        ).then(
        res => {
          locs = res.data;
          for( let loc of locs ) {
            var marker = L.marker([loc.latitude,loc.longitude]).bindPopup(
            'Lieu : <a href="/location_gis/'+
            loc.id+'"><b>'+loc.code+
            '</b></a><p>'+loc.name+'</p><hr/><i>'+
            loc.notes+'</i>' );
            markers.addLayer(marker);
          }
          map.addLayer(markers);
        });


      }

  </script>


{% modal_delete %}
</div>
{% endblock %}
