{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title %}
<div class="col-md-4">
  <img src="{{ STATIC_URL }}telemeta/images/collections_red.png"
    style="vertical-align:middle" />
    <h1>{% trans "Lieux" %}</h1>
</div>
<div class="col-md-8">
</div>
<div class="col-md-0">&nbsp;</div>
</div>
{% endblock %}

{% block title_buttons %}
    <a href="{% url "location_gis-add" %}">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span> {% trans "Ajouter" %}
    </button>
    </a>
{% endblock %}


</div>
{% block content %}
<div class="fullpage">
{% if locations|length > 0 %}
  <!-- Table to display the institutions --->
  <table class="listing">
  <tr>
      <th>{% trans "Nom" %}</th>
      <th class="highlight">{% trans "Localisation" %}</th>
      <th>{% trans "Latitude" %}</th>
      <th>{% trans "Longitude" %}</th>
      <th></th>
  </tr>
  {% for location in locations %}
  <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
      <td>{{ location.code }}</td>
      <td class="highlight">
          <a href="{{location.id}}">
            {{ location.name}}</a>
      </td>
      <td>{{ location.latitude}}</td>
      <td>{{ location.longitude}}</td>
      <td>
        {% buttons %}
        <a href="{% url "location_gis-edit" id=location.id %}">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
              </button>
        </a>
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{location.code}} - {{location.name}}"
            data-url="{% url "location_gis-delete" id=location.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
        {% endbuttons %}
      </td>
  </tr>
  {% endfor %}
</table>

{% modal_delete %}

{% else %}
    <p>{% trans "Il n'y a pas de lieux" %}</p>
{% endif %}
</div>
{% endblock %}
