
{% extends "mission.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
    {% trans "Mission" %}
    {% if mission %}
     : {{ mission.code|upper }}
    {% endif %}
{% endblock %}


{% block content %}

{% block title_buttons %}
  {% if user.is_authenticated %}
    <a href="{% url "collection-add" id_institution=mission.fonds.institution.id id_fond=mission.fonds.id id_mission=id %}" class="btn_add btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        {% trans "Créer une enquête" %}
    </a>
    <a href="{% url "mission-edit" id=id %}" class="btn_add btn btn-default">
      <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
    </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
  {% if mission %}
  <ul class="nav nav-tabs" role="tablist">
     <li class="active">
       <a href="#tab_general" role="tab" data-toggle="tab">{% trans "Fiche" %}</a>
     </li>
     <li>
       <a href="#tab_collection" role="tab" data-toggle="tab">{% trans "Enquêtes" %}</a>
     </li>
  </ul>

  <div class="tab-content">
    <section class="tab-pane fade in active" id="tab_general">
      <div class="container_line">
          <dl class="container_data">
            <dt class="libelle"> {{form.fonds.label|safe}}</dt>
          <dd class="donnee">
            <a href="{% url "fond-detail" id=mission.fonds.id %}">
              {{mission.fonds.title|safe}}
            </a>
          </dd>
        </dl>
        {% field_data form.code_partner.label|safe mission.code_partner|safe empty=False %}
        {% field_data form.code.label mission.code|upper|safe %}
        {% field_data form.title.label|safe mission.title|safe %}
        {% field_data form.public_access.label|safe mission.public_access|public_access|safe %}
      </div>

      <div class="container_line">
        {% field_data form.description.label|safe mission.description|markdown|safe %}
      </div>

      <div class="block-grey">
        <h2>{% trans "Période" %}</h2>
        <h3>{% trans "Années d'enregistrement" %}</h3>
        <div class="container_line">
          <dl class="container_data">
            <dt class="libelle"> {% trans 'Depuis' %}</dt>
            <dd class="donnee">{{dates.0}}</dd>
          </dl>
          <dl class="container_data">
            <dt class="libelle"> {% trans "Jusqu\'à" %}</dt>
            <dd class="donnee">{{dates.1}}</dd>
          </dl>
          <dl class="container_data">
            <dt class="libelle"> {% trans 'Durée totale disponible' %}</dt>
            <dd class="donnee"></dd>
          </dl>
        </div>
      </div>

      <div class="block-grey">
        <h2>{% trans "Lieux" %}</h2>
        <dl class="container_data">
          <dt class="libelle"></dt>
          <dd class="donnee">
            {% for location in locations %}
              {% if not forloop.first %} | {% endif %}
              <a href="{% url "location_gis-detail" id=location.id %}"
              target="_blank">
                {{location.code}}/{{location.name}}
              </a>
            {% endfor %}
          </dd>
        </dl>
      </div>

      <div class="block-grey">
        <h2>{% trans "Personnes" %}</h2>
        <dl class="container_data">
          <dt class="libelle"> {% trans 'Collecteurs' %}</dt>
          <dd class="donnee">
            {% for collector in collectors %}
              {% if not forloop.first %} | {% endif %}
              <a href="{% url "personne-detail" id=collector.id %}"
              target="_blank">
                {{collector.first_name}} {{collector.last_name}}
              </a>
            {% endfor %}
          </dd>
        </dl>
        <dl class="container_data">
          <dt class="libelle"> {% trans 'Informateurs' %}</dt>
          <dd class="donnee">
            {% for informer in informers %}
              {% if not forloop.first %} | {% endif %}
              <a href="{% url "personne-detail" id=informer.id %}"
              target="_blank">
                {{informer.first_name}} {{informer.last_name}}
              </a>
            {% endfor %}
          </dd>
        </dl>
      </div>

      {% display_documents %}

    </section>


    <section class="tab-pane fade in" id="tab_collection">
      {% if collections|length > 0 %}
        <!-- Table to display the collections --->
        <table class="listing">
        <thead>
            <th class="highlight">{% trans "cote" %}</th>
            <th>{% trans "Nom" %}</th>
            <th>{% trans "Description" %}</th>
            <th></th>
        </thead>
        {% for collection in collections %}
        <tr>
            <td class="highlight">
                <a href="/collection/{{collection.id }}">
                {{ collection.code|upper }}</a>
            </td>
            <td>{{ collection.title|safe }}</td>
            <td>{{ collection.descriptions|truncatechars:50|markdown|safe}}          </td>
            <td>
              <a href="{% url "collection-edit" id=collection.id %}">
                    <button type="button" class="btn btn-default">
                      <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
                    </button>
              </a>
              <button type="button" class="btn btn-default"
                  data-toggle="modal" data-target="#modalDelete"
                  data-name="{{collection.title}}"
                  data-url="{% url "collection-delete" id=collection.id %}">
                    <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
              </button>
            </td>
        </tr>
        {% endfor %}
        </table>
        {% if user.is_authenticated %}
        	{% modal_delete %}
        {% endif %}
      {% else %}
        <div class="block-grey">
        {% trans "Cette mission ne possède pas d'enquête."%}
        </div>
      {% endif %}
    </section>
  </div>

  {% else %}
    <p>{% trans "Cette mission n'existe pas." %}</p>
  {% endif %}
{% else %}
  {% display_error error %}
{% endif %}
{% endblock %}
