{% extends "personne.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load data_display %}
{% load markdown_extra %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block javascript %}
  {{ block.super }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css" />
{% endblock %}

{% block title %}
   {{ block.super}}
   {% if id %}
   {% trans "Modification" %}
   {% else %}
   {% trans "Création" %}
   {% endif %}
{% endblock %}

{% block title_buttons %}
{% endblock %}

{% block content %}
{% if not error|length %}
{{ form.media }}
<div class="container">
  {% if id %}
  <form action="{%url "personne-edit" id %}" method="POST">
  {% else %}
  <form action="{%url "personne-add" %}" method="POST">
  {% endif %}
    {% csrf_token %}
    <div class="container_line">
      {% bootstrap_field form.last_name layout='vertical' %}
      {% bootstrap_field form.first_name layout='vertical' %}
    </div>
    <div class="container_line">
        {% bootstrap_field form.civility layout='vertical' %}
        {% bootstrap_field form.alias layout='vertical' %}
    </div>
    <div class="form-group">
          <label class="control-label">{% trans "Rôles" %}</label>
          <div class="container_line space-around">
          {% bootstrap_field form.is_collector %}
          {% bootstrap_field form.is_informer %}
          {% bootstrap_field form.is_author %}
          {% bootstrap_field form.is_composer %}
          {% bootstrap_field form.is_editor %}
        </div>

    </div>
    <div class="block-grey">
      <h2>{% trans "Naissance" %}</h2>
      {% bootstrap_field form.birth_date %}
      {% bootstrap_field form.birth_location_name layout='vertical' %}
      {% bootstrap_field form.birth_location %}
    </div>
    <div class="block-grey">
      <h2>{% trans "Décès" %}</h2>
      {% bootstrap_field form.death_date layout='vertical' %}
      {% bootstrap_field form.death_location_name layout='vertical' %}
      {% bootstrap_field form.death_location %}
    </div>

    {% bootstrap_field form.biography layout='vertical' %}
    {% bootstrap_field form.uri layout='vertical' %}

    {% buttons_form %}
  </form>
</div>

{% if id %}
<script>
  // Fill the locations fields with related values
  $('#id_birth_location').val({{personne.birth_location.id}});
  $('#id_birth_location_name').val("{{personne.birth_location.name}}");
  $('#id_death_location').val({{personne.death_location.id}});
  $('#id_death_location_name').val("{{personne.death_location.name}}");
</script>
{% else %}
<script>
  $('#id_birth_location').val();
  $('#id_death_location').val();
</script>
{% endif %}

<script>

// Searching a location, using Bloodhound
//  and queyring the API
var locations = new Bloodhound({
  datumTokenizer: function(datum) {
    return Bloodhound.tokenizers.whitespace(datum.value);
  },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: '/api/locationgis?search=%QUERY',
    wildcard: '%QUERY',
    transform: function(response) {
      // Map the remote source JSON array to a JavaScript object array
      return $.map(response, function(location) {
        return {
          name: location.name,
          code: location.code,
          id: location.id
        };
      });
    }
  }
});

// An autocompletion to choose a location
$('.typeahead').typeahead({
  minLength: 2,
  highlight: true,
},{
  display: 'name',
  source: locations,
  templates: {
    empty: [
      '<div class="empty-message">',
        "Il n\'y a pas de lieux qui corresponde à cette recherche.",
      '</div>'
    ].join('\n'),
    suggestion: function(data) {
      return '<div><strong>' + data.code + '</strong> : '+ data.name + '</div>';
    }
}
});

// Catch the ID of a selectd location
$('#id_birth_location_name').on('typeahead:selected', function (event, result){
  $('#id_birth_location').val(result.id);
});
$('#id_death_location_name').on('typeahead:selected', function (event, result){
  $('#id_death_location').val(result.id);
});

</script>

{% markdown_editor "id_biography" %}

{{ form.media.js }}
{% else %}
  {% display_error error %}
{% endif %}
{% endblock %}
