{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load data_display %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block javascript %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-select/2.5.1/vue-select.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
{% endblock %}

{% block content %}

{% regroup results by entity as result_list %}

<h1>{% trans "Recherche avancée"%}</h1>
<hr/>

{{ form.media }}
<div id="app">

<!-- INFORMERS -->
<form @submit.prevent="submitform">
  <div class="container_data">
    <label class="control_label">{% trans "Informateur" %}</label>
    <v-select
      multiple
        v-model="informers"
        label="first_name"
        :filterable="false"
        @search="onSearchInformers"
        :options="optionsInformers"
        placeholder="{% trans "Recherche sur informateur" %} ...">
        <template slot="option" slot-scope="option">
          ${ option.first_name } ${ option.last_name } -
          <a :href="option.url"
            onclick="window.open(this.href); return false;">
            <i>Fiche...</i></a>
        </template>
        <template slot="selected-option" slot-scope="option">
          <a :href="option.url"
          onclick="window.open(this.href); return false;">
          ${ option.first_name } ${ option.last_name }</a>
        </template>
    </v-select>
  </div>

  <!-- COLLECTORS -->
  <div class="container_data">
    <label class="control_label">{% trans "Enquêteur" %}</label>
    <v-select
      multiple
        v-model="collectors"
        label="first_name"
        :filterable="false"
        @search="onSearchCollectors"
        :options="optionsCollectors"
        placeholder="{% trans "Recherche sur enquêteur" %} ...">
        <template slot="option" slot-scope="option">
          ${ option.first_name } ${ option.last_name } -
          <a :href="option.url"
            onclick="window.open(this.href); return false;">
            <i>Fiche...</i></a>
        </template>
        <template slot="selected-option" slot-scope="option">
          <a :href="option.url"
          onclick="window.open(this.href); return false;">
          ${ option.first_name } ${ option.last_name }</a>
        </template>
    </v-select>
  </div>

  <!-- LOCATIONS -->
  <div class="container_data">
    <label class="control_label">{% trans "Lieux" %}</label>
    <v-select
      multiple
      v-model="locations"
      label="name"
      :filterable="false"
      @search="onSearchLocations"
      :options="optionsLocations"
      placeholder="{% trans "Recherche sur lieu" %} ...">
      <template slot="option" slot-scope="option">
        <b>${ option.code }</b>
        <p>${ option.name }</p>
        <p><a :href="option.url"
          onclick="window.open(this.href); return false;">Fiche...</a></p>
      </template>
      <template slot="selected-option" slot-scope="option">
        <a :href="option.url"
        onclick="window.open(this.href); return false;">
        ${ option.code }</a>
      </template>
    </v-select>
  </div>


  <button type="submit" id="btn" class="btn btn-default">
    <span class="glyphicon glyphicon-search">
    </span>
    {% trans "Effectuer une recherche" %}
  </button>
</form>

<div v-if="search">
  <h2>Résultats</h2>

  <div v-if="result_collections.length">
    <table class="listing">
      <caption>{% trans "Enquête(s)" %}</caption>
      <thead>
        <th class="highlight">{% trans "Cote" %}</th>
        <th>{% trans "Titre" %}</th>
      </thead>
      <tr  v-for="res in result_collections">
        <td class="highlight">
          <a :href="'/collection/' + res.id">
            ${res.code}</a>
          </td>
          <td>
            ${res.title}
          </td>
        </tr>
      </table>
  </div>
  <div v-else>
    {% trans "Il n'y pas d'enquête qui correspond à ces critères." %}
  </div>

  <div v-if="result_items.length">
    <table class="listing">
      <caption>{% trans "Item(s)" %}</caption>
      <thead>
        <th class="highlight">{% trans "Cote" %}</th>
        <th>{% trans "Titre" %}</th>
      </thead>
      <tr  v-for="res in result_items">
        <td class="highlight">
          <a :href="'/item/' + res.id">
            ${res.code}</a>
          </td>
          <td>
            ${res.title}
          </td>
        </tr>
      </table>
  </div>
  <div v-else>
    {% trans "Il n'y pas d'item qui correspond à ces critères." %}
  </div>

</div>


</div> <!-- end app -->



<script type="application/javascript">
Vue.component('v-select', VueSelect.VueSelect)

new Vue({
  delimiters: ['${', '}'],
  el: '#app',
  data: {
    result_collections: [],
    result_items: [],
    informers: [],
    optionsInformers: [],
    collectors: [],
    optionsCollectors: [],
    locations: [],
    optionsLocations: [],
    search: false
  },
  watch: {
    results(){
      if(this.results.length>0){
        console.log(this.results[0].description);
      }
    }
  },
  computed: {
    informers_id: function(){
      if(this.informers.length > 0){
        return 'informer='+this.informers[0].id;
      }
      return '';
    },
    collectors_id: function(){
      if(this.collectors.length > 0){
        return 'collector='+this.collectors[0].id;
      }
      return '';
    },
    locations_id: function(){
      if(this.locations.length > 0){
        return 'location='+this.locations[0].id;
      }
      return '';
    }
  },
  methods: {
    searchRelated:
    _.debounce((loading, search, vm, url, options, entity)=>
    {
      if(search.length > 1){
        axios.get(url).then(
          res => {
            length = 5;
            if(res.data.length > length){
              res.data.length = length;
            };
            for(i = 0; i < res.data.length; i++) {
              res.data[i].url= "/"+entity+"/"+res.data[i].id;
            };
            vm[options] = res.data;
          }
        );
      };
      loading(false);
    }),
    onSearchInformers(search, loading) {
      loading(true);
       this.searchRelated(
       loading, search, this,
        `/api/authority?is_informer=true&ordering=first_name+last_name&search=${escape(search)}`,
        'optionsInformers',
        'authority'
       );
    },
    onSearchCollectors(search, loading) {
      loading(true);
       this.searchRelated(
       loading, search, this,
        `/api/authority?is_collector=true&ordering=first_name+last_name&search=${escape(search)}`,
        'optionsCollectors',
        'authority'
       );
    },
    onSearchLocations(search, loading) {
        loading(true);
        this.searchRelated(
          loading, search, this,
           `/api/locationgis?ordering=code&search=${escape(search)}`,
           'optionsLocations',
           'location_gis'
        );
    },
    submitform(){
      axios.get('/advancedsearch?'+
      this.informers_id+'&'+this.collectors_id+'&'+this.locations_id)
      .then(res => {
        // response
        this.search = true;
        // RAZ previous results
        this.result_collections = [];
        this.result_items = [];

        res.data.forEach(element => {
            if (element.entity == 'Collection'){
              this.result_collections.push(element);
            };
            if (element.entity == 'Item'){
              this.result_items.push(element);
            };
        });
      })
      .catch(err => {
        // error
        console.log(err);
      })
    },
  },
  mounted: function () {}
})
</script>

<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>

{{ form.media.js }}
{% endblock %}
