{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load data_display %}

{% block content %}

{% regroup results by entity as result_list %}

{% trans "Résultats de la recherche, pour :" %}
<div>
  {{ query }}
</div>

<ul class="list-group">

  {% for result in result_list %}
  <hr/>
  <li class="list-group-item well">
    <div>
      {{ topics|get_obj_attr:result.grouper }}
    </div>
    <div class="list-group">
      {% for item in result.list %}
           {% if result.grouper = "Authority" %}
             <a href="{% url "personne-detail"  item.id %}" class="list-group-item">
               {{item.first_name}} {{item.last_name}}
             </a>
           {% endif %}
           {% if result.grouper = "Location" %}
             <a href="/location_gis/{{item.id}}" class="list-group-item">
               {{item.code}} : {{item.name}}
             </a>
           {% endif %}
           {% if result.grouper = "Fond" %}
             <a href="/fond/{{item.id}}" class="list-group-item">
               {{item.code}} - {{item.title}}
             </a>
           {% endif %}
           {% if result.grouper = "Mission" %}
             <a href="/mission/{{item.id}}" class="list-group-item">
               {{item.code}} - {{item.title}}
             </a>
           {% endif %}
           {% if result.grouper = "Collection" %}
             <a href="/collection/{{item.id}}" class="list-group-item">
               {{item.code}} - {{item.title}}
             </a>
           {% endif %}
           {% if result.grouper = "Item" %}
             <a href="/item/{{item.id}}" class="list-group-item">
               {{item.code}} - {{item.title}}
             </a>
           {% endif %}

       {% endfor %}
    </div>
  </li>
  {% endfor %}

</ul>

{% endblock %}
