{% load bootstrap3 %}
{% load i18n %}
{% buttons %}
{% if 'telemeta_api.change_'|add:entity in perms %}
  {% if id %}
    <a href="{% url entity|add:'-edit' id=id %}">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
          </button>
    </a>
  {% endif %}
{% endif %}
{% if 'telemeta_api.delete_'|add:entity in perms %}
  {% if id %}
    <button type="button" class="btn btn-default"
        data-toggle="modal" data-target="#modalDelete"
        data-name="{{name}}"
        data-url="{% url entity|add:'-delete' id=id %}">
          <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
    </button>
  {% endif %}
{% endif %}
{% endbuttons %}
