{% load bootstrap3 %}

{% bootstrap_field component layout='vertical' %}

<script>
var simpleMDE = new SimpleMDE({
  element: $('#{{component.auto_id}}')[0],
  toolbar: ["bold", "italic", "heading", "|",
  {
     name: "custom",
     action: function customFunction(editor){
     // Add your own code
         var cm = editor.codemirror;
         var doc = cm.getDoc();
         var cursor = doc.getCursor();
         doc.replaceRange('   \r\n', cursor);
     },
     className: "fa fa-paragraph",
     title: "New line/paragraph",
     },
   "quote","unordered-list", "ordered-list", "|","preview", "guide"],
});
</script>
