{% load i18n %}
{% load telemeta_tags %}
{% load bootstrap3 %}

                        {# spaces between li and a elements breaks layout #}

                        <ul id="nav">
                            {% if user.is_authenticated %}
                                <li><a href="{% url "telemeta-desk-lists" %}" class="blue">{% trans "Desk" %}</a></li>
                            {% else %}
                                <li><a href="{% url "home" %}" class="blue">Accueil</a></li>
                            {% endif %}

                            <li><a href="{% url "institution" %}" class="green">Institutions</a>
                            </li>

                            <li><a href="#archives#" class="green">Archives</a>
                                <ul>
                                    <li><a href="{% url "fond" %}">Fonds</a></li>
                                    <li><a href="{% url "mission" %}">Missions</a></li>
                                    <li><a href="{% url "collection" %}">Enquêtes</a></li>
                                    <li><a href="">Items</a></li>
                                </ul>
                            </li>

                            <li>
                              <a href="{% url "personne" %}" class="green">
                                {% trans "Personnes" %}</a>
                                <ul>
                                  <li>
                                    <a href="">
                                      {% trans "Enquêteurs" %}</a>
                                  </li>
                                  <li>
                                    <a href="">
                                      {% trans "Informateurs" %}</a>
                                  </li>
                                  <li>
                                    <a href="">
                                      {% trans "Auteur" %}</a>
                                  </li>
                                  <li>
                                    <a href="">
                                      {% trans "Compositeur" %}</a>
                                  </li>
                                  <li>
                                    <a href="">
                                      {% trans "Editeur" %}</a>
                                  </li>
                                </ul>
                            </li>

                            <li >
                              <a href="#enums#" class="yellow">
                                {% trans "Enumérations" %}</a>
                                <ul>
                                  <li>
                                    <a href="{% url "instrument" %}">{% trans "Voix/Intruments" %}</a>
                                  </li>
                                  <li>
                                    <a href="{% url "domain_song" %}">{% trans "Genre de chanson" %}</a>
                                  </li>
                                </ul>
                            </li>

                            <li>
                              <a href="{% url "location_gis" %}" class="yellow">
                                {% trans "Lieux" %}</a>
                                <ul>
                                  <li>
                                    <a href="">{% trans "Enquêtes" %}</a>
                                  </li>
                                  <li>
                                    <a href="">{% trans "Items" %}</a>
                                  </li>
                                </ul>
                            </li>
                            <li><a href="#"
                                   class="orange">{% trans "Recherche" %}</a>
                            </li>

                            {% if user.is_authenticated and user.is_staff %}
                                <li><a href="#vocabulary#" class="red">{% trans "Terminology" %}</a>
                                    {% if perms.telemeta.change_physicalformat %}
                                        <ul>
                                            <li><a href="{% url "telemeta-admin-enumerations" %}">{% trans "Enumerations" %}</a></li>
                                            <li><a href="{% url "telemeta-instrument-edit" %}">{% trans "Instruments" %}</a></li>
                                            <li><a href="{% url "telemeta-instrument-alias-edit" %}">{% trans "Instrument (vernaculare)" %}</a></li>
                                        </ul>
                                    {% else %}
                                        <ul>
                                            <li><a href="{% url "telemeta-instruments" %}">{% trans "Instruments" %}</a>
                                            <li><a href="{% url "telemeta-instrument-alias" %}">{% trans "Instruments (vernaculare)" %}</a></li>
                                            {% for enu in menu %}
                                                <li>
                                                    <a href="{% url "telemeta-enumeration" enu.id %}">{{ enu.name |capfirst }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %}

                            {% if user.is_authenticated and user.is_staff %}
                                <li><a href="{% url "telemeta-home" %}admin/django/" class="violet">{% trans "Admin" %}</a>
                                </li>
                            {% endif %}

                        </ul>
