{% load i18n %}
{% load telemeta_tags %}
{% load bootstrap3 %}

{# spaces between li and a elements breaks layout #}
<nav role="navigation" aria-label="Menu principal" class="nav">
  <ul class="menu">
      {% if user.is_authenticated %}
        <li><a href="{% url "telemeta-home" %}" class="blue">{% trans "Bureau" %}</a></li>
      {% else %}
        <li class="blue"><a href="{% url "home" %}">{% trans "Accueil" %}</a></li>
      {% endif %}

      <li  class="green"><a href="{% url "institution" %}">Institutions</a>
      </li>

      <li class="has-children green"><a href="#archives" >Archives</a>
          <ul class="sous-menu">
              <li><a href="{% url "fond" %}">Fonds</a></li>
              <li><a href="{% url "mission" %}">Missions</a></li>
              <li><a href="{% url "collection" %}">Enquêtes</a></li>
              <li><a href="{% url "item" %}">Items</a></li>
          </ul>
      </li>

      <li class="has-children green">
        <a href="{% url "personne" %}">
          {% trans "Personnes" %}</a>
          <ul class="sous-menu">
            <li>
              <a href="{% url "personne-collector" %}">
                {% trans "Enquêteurs" %}</a>
            </li>
            <li>
              <a href="{% url "personne-informer" %}">
                {% trans "Informateurs" %}</a>
            </li>
            <li>
              <a href="{% url "personne-author" %}">
                {% trans "Auteurs" %}</a>
            </li>
            <li>
              <a href="{% url "personne-composer" %}">
                {% trans "Compositeurs" %}</a>
            </li>
            <li>
              <a href="{% url "personne-editor" %}">
                {% trans "Editeurs" %}</a>
            </li>
          </ul>
      </li>

      <li class="has-children yellow">
        <a href="#enums">
          {% trans "Enumérations" %}</a>
          <ul class="sous-menu">
            <li class="has-children"><a href="#musique">Musique</a>
              <ul class="sous-menu">
                <li>
                  <a href="{% url "coupe" %}">{% trans "Coupe" %}</a>
                </li>
                <li>
                  <a href="{% url "musical_group" %}">{% trans "Formation (musicale)" %}</a>
                </li>
                <li>
                  <a href="{% url "hornbostelsachs" %}">{% trans "Hornbostel–Sachs" %}</a>
                </li>
                <li>
                  <a href="{% url "musical_organization" %}">{% trans "Organisation musicale" %}</a>
                </li>
                <li>
                <a href="{% url "instrument" %}">{% trans "Voix/Intruments" %}</a>
                </li>
              </ul>
            </li>
            <li  class="has-children"><a href="#genre">Genre</a>
              <ul class="sous-menu">
                <li>
                  <a href="{% url "domain_song" %}">{% trans "Genre de chanson" %}</a>
                </li>
                <li>
                  <a href="{% url "domain_tale" %}">{% trans "Genre de conte" %}</a>
                </li>
                <li>
                  <a href="{% url "domain_music" %}">{% trans "Genre de musique" %}</a>
                </li>
                <li>
                  <a href="{% url "domain_vocal" %}">{% trans "Genre vocal" %}</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{% url "recording_context" %}">{% trans "Contexte d'enregistrement" %}</a>
            </li>

            <li class="has-children">
              <a href="#editeur">{% trans "Édition" %}</a>
              <ul class="sous-menu">
                <li>
                  <a href="{% url "legal_rights" %}">{% trans "Droits légaux" %}</a>
                </li>
                <li>
                  <a href="{% url "publisher" %}">{% trans "Éditeur" %}</a>
                </li>
                <li>
                  <a href="{% url "metadata_author" %}">{% trans "Meta donnée auteur" %}</a>
                </li>
                <li>
                  <a href="{% url "mediatype" %}">{% trans "Type de média" %}</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{% url "dance" %}">{% trans "Danse" %}</a>
            </li>
            <li>
              <a href="{% url "emit_vox" %}">{% trans "Nature de l'émission vocale" %}</a>
            </li>
            <li>
              <a href="{% url "language" %}">{% trans "Langue" %}</a>
            </li>
            <li>
              <a href="{% url "thematic" %}">{% trans "Thématique" %}</a>
            </li>
            <li>
              <a href="{% url "usefulness" %}">{% trans "Fonction" %}</a>
            </li>
          </ul>
      </li>

      <li class="has-children yellow">
        <a href="{% url "location_gis" %}">{% trans "Lieux" %}</a>
          <ul class="sous-menu">
            <li>
              <a href="{% url "location_gis-collection" %}">{% trans "Enquêtes" %}</a>
            </li>
          </ul>
      </li>
      <li class="orange"><a href="{% url "search-advanced" %}" >{% trans "Recherche avancée" %}</a>
      </li>
  </ul>
</nav>
