<script type="application/javascript">

function searchRelated(loading, search, vm, url, options, entity){
  axios.get(url).then(
  res => {
    for(i = 0; i < res.data.length; i++) {
      res.data[i].url= "/"+entity+"/"+res.data[i].id;
    };
    vm[options] = res.data;
  }
  );
  loading(false);
}

Vue.component('v-select', VueSelect.VueSelect)
let elements = document.getElementsByClassName('app2');
for(let el of elements){
new Vue({
  delimiters: ['${', '}'],
  el: el,
  data: {
      civilities: [],
      optionsCivilities: [],
  },
  watch: {
  },
  computed: {
  },
  methods: {
    searchRelated:
    _.debounce((loading, search, vm, url, options, entity)=>
    {
      axios.get(url).then(
      res => {
        for(i = 0; i < res.data.length; i++) {
          res.data[i].url= "/"+entity+"/"+res.data[i].id;
        };
        vm[options] = res.data;
      }
      );
      loading(false);
    }),
    onSearchCivilities(search, loading) {
      loading(true);
      searchRelated(
      loading, search, this,
       `/api/civility?ordering=name&search=${escape(search)}`,
       'optionsCivilities',
       'civility'
      );
    },
    getRelated: function(url, field, rel_entity, entity){
      // Get the data from a related table to display it in a field
      axios.get(url).then(
      res => {
        for(i = 0; i < res.data.length; i++) {
          res.data[i][rel_entity].url= "/"+ entity+"/"+res.data[i][rel_entity].id;
        }
        var listRelated = [];
        for( var item in res.data) {
          // Fill the list of related
          listRelated.push(res.data[item][rel_entity]);
        }
        // Use the list of related to feeds the select
        this[field] = listRelated;
      });
    },
    getCivilities: function(){
      this.getRelated(
        `/api/authority/${escape({{id}})}/civilities`,
        'civilities',
        'civility',
        'civility'
      );
    },
    replacer: function(key,value,field){
      if(value.length > 0){
        items=[];
        for(i = 0; i< value.length; i++){
          var dict = {};
          dict[field] = value[i].id;
          items.push(dict);
        };
        return items;
      };
      return value;
    },
    replacerCivility: function(key,value){
      return this.replacer(key,value,"civility");
    },
    addLine(){
      let checkEmptyLines = this.lines.filter(line => line.number === null);
      if (checkEmptyLines.length >= 1 && this.lines.length > 0) return;
      this.lines.push({
       number: "1"
     });
    },
   },
   created: function () {
     {% if id %}
       this.getCivilities();
     {% endif %}
   }
});
};


</script>
