# {{ ansible_managed }}

#
# Keycloak
#
KEYCLOAK_DEFAULT_ACCESS={{ francoralite_keycloak_default_access }}
KEYCLOAK_REALM={{ francoralite_keycloak_realm }}
KEYCLOAK_SERVER_URL={{ francoralite_keycloak_server_url }}
KEYCLOAK_METHOD_VALIDATE_TOKEN={{ francoralite_keycloak_method_validate_token }}
KEYCLOAK_CLIENT_PUBLIC_KEY={{ francoralite_keycloak_client_public_key }}
KEYCLOAK_CLIENT_ID={{ francoralite_keycloak_client_id }}
KEYCLOAK_CLIENT_SECRET_KEY={{ francoralite_keycloak_client_secret_key }}
KEYCLOAK_AUTHORIZATION_CONFIG={{ francoralite_keycloak_authorization_config }}

#
# Database
#
ENGINE={{ francoralite_engine }}
MYSQL_ROOT_PASSWORD={{ francoralite_mysql_root_password }}
MYSQL_DATABASE={{ francoralite_mysql_database }}
MYSQL_USER={{ francoralite_mysql_user }}
MYSQL_PASSWORD={{ francoralite_mysql_password }}

#
# Django
#
DEBUG={{ francoralite_debug }}
SECRET_KEY={{ francoralite_secret_key }}
FRONT_HOST_URL={{ francoralite_front_host_url }}
API_EXTERNAL_IP_ADDRESS={{ francoralite_api_external_ip_address }}
API_APP_EXTERNAL_URL={{ francoralite_api_app_external_url }}
LOGIN_REDIRECT_URL={{ francoralite_login_redirect_url }}

#
# CELERY
#
BROKER_URL={{ francoralite_broker_url }}
# If this is True, all tasks will be executed locally by blocking
# until the task returns.
CELERY_ALWAYS_EAGER={{ francoralite_celery_always_eager }}

#
# HAYSTACK
#
# If this is True, the search index will be rebuild
REINDEX={{ francoralite_reindex }}
HAYSTACK_URL={{ francoralite_haystack_url }}
# Change index names if hosting multiple search containers
HAYSTACK_INDEX_NAME={{ francoralite_haystack_index_name }}
HAYSTACK_INDEX_NAME_AUTOCOMPLETE={{ francoralite_haystack_index_name_autocomplete }}
