# {{ ansible_managed }}

DB_VENDOR={{ francoralite_db_vendor }}
DB_ADDR={{ francoralite_db_addr }}
DB_DATABASE={{ francoralite_db_database }}
DB_USER={{ francoralite_db_user }}
DB_PASSWORD={{ francoralite_db_password }}
KEYCLOAK_HOSTNAME={{ francoralite_keycloak_hostname }}
KEYCLOAK_USER={{ francoralite_keycloak_user }}
KEYCLOAK_PASSWORD={{ francoralite_keycloak_password }}
PROXY_ADDRESS_FORWARDING={{ francoralite_proxy_address_forwarding }}
