# {{ ansible_managed }}

POSTGRES_DB={{ francoralite_db_database }}
POSTGRES_USER={{ francoralite_db_user }}
POSTGRES_PASSWORD={{ francoralite_db_password }}
PGPASSWORD={{ francoralite_db_password }}
