
.container_line {
  display: flex;
  flex-direction: row;
}

.container_data {
	display: flex;
	flex-direction: column;
  margin: 0.5em;
}

.libelle {
    margin-right : 2em;
    margin-bottom: 0.5em;
}

.donnee {
    background-color: #ece0d0;
    padding: 0.5em;
    padding-bottom: 0.2em;
    flex-grow: 2;
}
