{% extends "enum/coupe.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
{% endblock %}

{% block title_name %}
   {{ block.super }} -
   {% if id %}
    {% trans "Modification" %}
   {% else %}
    {% trans "Création" %}
   {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
{% endblock %}

{% block title %}
    {{ block.super }}
{% endblock %}

{{ form.media }}
{% if not error|length %}
<div class="container">
  {% if id %}
  <form action="{%url "coupe-edit" id %}" method="POST">
  {% else %}
  <form action="{%url "coupe-add" %}" method="POST">
  {% endif %}
    {% csrf_token %}
    {% field_editor form.name %}
    {% field_editor form.notes %}

    {% buttons_form %}
  </form>
</div>

{% else %}
  {% display_error error %}
{% endif %}

{{ form.media.js }}
{% endblock %}
