{% extends "enum/cultural_area.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}
{% load static %}

{% block javascript %}
  {{ block.super }}
  <script type="module" src="{% static "francoralite_front/js/webcomponents/map.js" %}"></script>
  <script type="module" src="{% static "francoralite_front/js/webcomponents/related_items.js" %}"></script>
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {{ block.super }}
    {% if cultural_area %}
     : {{ cultural_area.name }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if perms.keycloak.cultural_area_update %}
  <a href="{% url "cultural_area-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
{% if cultural_area %}

  {% field_data_id form.name cultural_area.name|safe %}
  {% if cultural_area.geojson|json|length > 150 %}
    {% field_data_id form.geojson cultural_area.geojson|json truncate=150 %}
  {% else %}
    {% field_data_id form.geojson cultural_area.geojson|json %}
    {% endif %}
    
  <francoralite-related-items
    thesaurus="cultural_area"
    filter_value="{{ cultural_area.id }}"
  ></francoralite-related-items>
    
  {% if cultural_area.geojson %}
  <div class="map-container">
    <francoralite-map geojson-data="{{ cultural_area.geojson|json|escape }}"></francoralite-map>
  </div>
  {% endif %}
  
{% else %}
  <p>{% trans "Cette aire culturelle n'existe pas." %}</p>
{% endif %}


{% endif %}
{% endblock %}
