{% extends "base.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {% trans "Genre de danse" %}
{% endblock %}

{% block content %}

{% block title_buttons %}

{% if perms.keycloak.dance_add %}
  <a href="{% url "dance-add" %}" class="btn_add btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer un genre de danse" %}
  </a>
{% endif %}
{% endblock %}

{% block title %}
    {{ block.super }}
{% endblock %}

<div class="fullpage">
  <!-- If there is some domain dance (number of elements > 0 ) -->
{% if dances|length > 0 %}
  <!-- Table to display the dances -->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Nom" %}</th>
      <th>{% trans "Notes" %}</th>
      {% if perms.keycloak.dance_update or perms.keycloak.dance_delete %}
      <th>{% trans "Modifier" %}</th>
      {% endif %}
  </tr>
  {% for dance in dances %}
  <tr>
      <td class="highlight">
          <a href="/dance/{{dance.id }}">
            {{ dance.name|upper }}</a>
      </td>
      <td>
        {% if dance.notes %}
          {{ dance.notes|markdown|safe }}
        {% endif %}
      </td>
      {% if perms.keycloak.dance_update or perms.keycloak.dance_delete %}
      <td>
        {% if perms.keycloak.dance_update %}
        <a href="{% url "dance-edit" id=dance.id %}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span> {% trans "Éditer" %}
        </a>
        {% endif %}
        {% if perms.keycloak.dance_delete %}
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{dance.title}}"
            data-url="{% url "dance-delete" id=dance.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
        {% endif %}
      </td>
      {% endif %}
  </tr>
  {% endfor %}
</table>

{% if perms.keycloak.dance_delete %}
    {% modal_delete %}
{% endif %}

{% else %}
  {% if error|length %}
      {% display_error error %}
    {% else %}
      <p>{% trans "Il n'y a pas de genre de danse" %}</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}
