{% extends "enum/domain_vocal.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load static %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
  <script type="module" src="{% static "francoralite_front/js/webcomponents/related_items.js" %}"></script>
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {{ block.super }}
    {% if domain_vocal %}
     : {{ domain_vocal.name }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if perms.keycloak.domain_vocal_update %}
  <a href="{% url "domain_vocal-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
{% if domain_vocal %}

  {% field_data_id form.name domain_vocal.name|safe %}
  {% field_data_id form.notes domain_vocal.notes|markdown|safe %}

  <francoralite-related-items
   thesaurus="domain_vocal"
   filter_value="{{ domain_vocal.id }}"
   ></francoralite-related-items>

{% else %}
  <p>{% trans "Ce genre n'existe pas." %}</p>
{% endif %}


{% endif %}
{% endblock %}
