
{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {% trans "Genre de conte" %}
{% endblock %}

{% block content %}

{% block title_buttons %}

{% if perms.keycloak.domain_tale_add %}
  <a href="{% url "domain_tale-add" %}" class="btn_add btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer un genre de conte" %}
  </a>
{% endif %}
{% endblock %}

{% block title %}
	{{ block.super }}
{% endblock %}

<div class="fullpage">
  <!-- If there is some domain song (number of elements > 0 ) -->
{% if domain_tales|length > 0 %}
  <!-- Table to display the domain_tales -->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Nom" %}</th>
      <th>{% trans "Notes" %}</th>
      {% if perms.keycloak.domain_tale_update or perms.keycloak.domain_tale_delete %}
      <th>{% trans "Modifier" %}</th>
      {% endif %}
  </tr>
  {% for domain_tale in domain_tales %}
  <tr>
      <td class="highlight">
          <a href="/domain_tale/{{domain_tale.id }}">
            {{ domain_tale.name|upper }}</a>
      </td>
      <td>
        {% if domain_tale.notes %}
          {{ domain_tale.notes|markdown|safe }}
        {% endif %}
      </td>
      <td>
        {% if perms.keycloak.domain_tale_update %}
        <a href="{% url "domain_tale-edit" id=domain_tale.id %}">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
              </button>
        </a>
        {% endif %}
        {% if perms.keycloak.domain_tale_delete %}
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{domain_tale.title}}"
            data-url="{% url "domain_tale-delete" id=domain_tale.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
        {% endif %}
      </td>
  </tr>
  {% endfor %}
</table>

{% if perms.keycloak.domain_tale_delete %}
	{% modal_delete %}
{% endif %}

{% else %}
  {% if error|length %}
      {% display_error error %}
    {% else %}
      <p>{% trans "Il n'y a pas de genre de conte" %}</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}
