{% extends "enum/domain_music.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {{ block.super }}
    {% if domain_music %}
     : {{ domain_music.name }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if perms.keycloak.domain_music_update %}
  <a href="{% url "domain_music-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
{% if domain_music %}

  {% field_data_id form.name domain_music.name|safe %}
  {% field_data_id form.notes domain_music.notes|markdown|safe %}

{% else %}
  <p>{% trans "Ce genre n'existe pas." %}</p>
{% endif %}


{% endif %}
{% endblock %}
