{% extends "enum/emit_vox.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {{ block.super }}
    {% if emit_vox %}
     : {{ emit_vox.name }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if perms.keycloak.emit_vox_update %}
  <a href="{% url "emit_vox-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
{% if emit_vox %}

  {% field_data_id form.name emit_vox.name|safe %}
  {% field_data_id form.notes emit_vox.notes|markdown|safe %}

{% else %}
  <p>{% trans "Cette nature d'émission vocale n'existe pas." %}</p>
{% endif %}


{% endif %}
{% endblock %}
