{% extends "enum/hornbostelsachs.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load static %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
  <script type="module" src="{% static "francoralite_front/js/webcomponents/related_items.js" %}"></script>
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {{ block.super }}
    {% if hornbostelsachs %}
     : {{ hornbostelsachs.number }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if perms.keycloak.hornbostelsachs_update %}
  <a href="{% url "hornbostelsachs-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
{% if hornbostelsachs %}

  {% field_data_id form.number hornbostelsachs.number|safe %}
  {% field_data_id form.name hornbostelsachs.name|safe %}

  <francoralite-related-items
    thesaurus="hornbostelsachs"
    filter_value="{{ hornbostelsachs.id }}"
    ></francoralite-related-items>

{% else %}
  <p>{% trans "Ce genre n'existe pas." %}</p>
{% endif %}


{% endif %}
{% endblock %}
