
{% extends "enum/hornbostelsachs.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {{ block.super }}
    {% if hornbostelsachs %}
     : {{ hornbostelsachs.number }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if user.is_authenticated %}
  <a href="{% url "hornbostelsachs-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
{% if hornbostelsachs %}

  {% field_data form.number.label|safe hornbostelsachs.number|safe %}
  {% field_data form.name.label|safe hornbostelsachs.name|safe %}

{% else %}
  <p>{% trans "Ce genre n'existe pas." %}</p>
{% endif %}


{% endif %}
{% endblock %}
