{% extends "enum/keyword.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load static %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
  <script type="module" src="{% static "francoralite_front/js/webcomponents/related_items.js" %}"></script>
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}



{% block title_name %}
  {{ block.super }}
    {% if keyword %}
     : {{ keyword.name }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if perms.keycloak.keyword_update %}
  <a href="{% url "keyword-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
{% if keyword %}

  {% field_data_id form.name keyword.name|safe %}
  {% field_data_id form.notes keyword.notes|markdown|safe %}

  <francoralite-related-items
    thesaurus="keyword"
    filter_value="{{ keyword.id }}"
    ></francoralite-related-items>

{% else %}
  <p>{% trans "Ce mot-clé n'existe pas." %}</p>
{% endif %}


{% endif %}
{% endblock %}
