{% extends "enum/language.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}


{% block title_name %}
  {{ block.super }}
    {% if language %}
     : {{ language.name }}
    {% endif %}
{% endblock %}


{% block content %}

{% block title_buttons %}
  {% if perms.keycloak.language_update %}
  <a href="{% url "language-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </button>
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}

{% if language %}


  {% field_data_id form.identifier language.identifier|upper|safe %}
  {% field_data_id form.part2B language.part2B|safe %}
  {% field_data_id form.part2T language.part2T|safe %}
  {% field_data_id form.part1 language.part1|safe %}
  {% field_data_id form.scope language.scope|safe %}
  {% field_data_id form.type language.type|safe %}
  {% field_data_id form.name language.name|safe %}
  {% field_data_id form.comment dance.comment|markdown|safe %}

{% else %}
  <p>{% trans "Cette langue n'existe pas." %}</p>
{% endif %}

{% endif %}
{% endblock %}
