{% extends "base.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {% trans "Droits légaux" %}
{% endblock %}

{% block content %}

{% block title_buttons %}
{% if perms.keycloak.legal_rights_add %}
  <a href="{% url "legal_rights-add" %}" class="btn_add btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer des droits légaux" %}
  </a>
{% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

<div class="fullpage">
  <!-- If there is some legal_rights (number of elements > 0 ) -->
{% if legal_rights|length > 0 %}
  <!-- Table to display the legal_rights -->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Nom" %}</th>
      <th>{% trans "Notes" %}</th>
      {% if perms.keycloak.legal_rights_update or perms.keycloak.legal_rights_delete %}
      <th>{% trans "Modifier" %}</th>
      {% endif %}
  </tr>
  {% for legal_rights in legal_rights %}
  <tr>
      <td class="highlight">
          <a href="/legal_rights/{{legal_rights.id }}">
            {{ legal_rights.name|upper }}</a>
      </td>
      <td>
        {% if legal_rights.notes %}
          {{ legal_rights.notes|markdown|safe }}
        {% endif %}
      </td>
      {% if perms.keycloak.legal_rights_update or perms.keycloak.legal_rights_delete %}
      <td>
        {% if perms.keycloak.legal_rights_update %}
        <a href="{% url "legal_rights-edit" id=legal_rights.id %}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span> {% trans "Éditer" %}
        </a>
        {% endif %}
        {% if perms.keycloak.legal_rights_delete %}
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{legal_rights.title}}"
            data-url="{% url "legal_rights-delete" id=legal_rights.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
        {% endif %}
      </td>
      {% endif %}
  </tr>
  {% endfor %}
</table>

{% if perms.keycloak.legal_rights_delete %}
    {% modal_delete %}
{% endif %}

{% else %}
  {% if error|length %}
      {% display_error error %}
    {% else %}
      <p>{% trans "Il n'y a pas de droits légaux" %}</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}
