{% extends "enum/mediatype.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load static %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
  <script type="module" src="{% static "francoralite_front/js/webcomponents/related_items.js" %}"></script>
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {{ block.super }}
    {% if mediatype %}
     : {{ mediatype.name }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if perms.keycloak.mediatype_update %}
  <a href="{% url "mediatype-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
{% if mediatype %}

  {% field_data_id form.name mediatype.name|safe %}
  {% field_data_id form.notes mediatype.notes|markdown|safe %}

  <francoralite-related-items
    thesaurus="mediatype"
    filter_value="{{ mediatype.id }}"
    ></francoralite-related-items>

{% else %}
  <p>{% trans "Ce type de média n'existe pas." %}</p>
{% endif %}
{% else %}
    {% display_error error %}
{% endif %}
{% endblock %}
