
{% extends "enum/musical_group.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {{ block.super }}
    {% if musical_group %}
     : {{ musical_group.name }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if perms.keycloak.musical_group_update %}
  <a href="{% url "musical_group-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
  {% if musical_group %}
  {% field_data_id form.name musical_group.name|safe %}
  {% field_data_id form.notes musical_group.notes|markdown|safe %}
  {% else %}
    <p>{% trans "Cette formation n'existe pas." %}</p>
     {% display_error error %}
  {% endif %}
  {% else %}
     {% display_error error %}
  {% endif %}
{% endblock %}
