
{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}


{% block title_name %}
  {% trans "Éditeur" %}
{% endblock %}


{% block content %}

{% block title_buttons %}
{% if perms.keycloak.publisher_add %}
  <a href="{% url "publisher-add" %}" class="btn_add btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer un éditeur" %}
  </a>
{% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

<div class="fullpage">
  <!-- If there is some publisher (number of elements > 0 ) -->
{% if publishers|length > 0 %}
  <!-- Table to display the publisher -->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Nom" %}</th>
      <th>{% trans "Notes" %}</th>
      {% if perms.keycloak.publisher_update or perms.keycloak.publisher_delete %}
      <th>{% trans "Modifier" %}</th>
      {% endif %}
  </tr>
  {% for publisher in publishers %}
  <tr>
      <td class="highlight">
          <a href="/publisher/{{publisher.id }}">
            {{ publisher.name|upper }}</a>
      </td>
      <td>
        {% if publisher.notes %}
          {{ publisher.notes|markdown|safe }}
        {% endif %}
      </td>
      {% if perms.keycloak.publisher_update or perms.keycloak.publisher_delete %}
      <td>
        {% if perms.keycloak.publisher_update %}
        <a href="{% url "publisher-edit" id=publisher.id %}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
        </a>
        {% endif %}
        {% if perms.keycloak.publisher_delete %}
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{publisher.title}}"
            data-url="{% url "publisher-delete" id=publisher.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
        {% endif %}
      </td>
      {% endif %}
  </tr>
  {% endfor %}
</table>

{% if perms.keycloak.publisher_delete %}
    {% modal_delete %}
{% endif %}

{% else %}
  {% if error|length %}
      {% display_error error %}
    {% else %}
      <p>{% trans "Il n'y a pas d'éditeur" %}</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}
