{% extends "enum/recording_context.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load static %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
  <script type="module" src="{% static "francoralite_front/js/webcomponents/related_items.js" %}"></script>
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {{ block.super }}
    {% if recording_context %}
     : {{ recording_context.name }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if perms.keycloak.recording_context_update %}
  <a href="{% url "recording_context-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
{% if recording_context %}

  {% field_data_id form.name recording_context.name|safe %}
  {% field_data_id form.notes recording_context.notes|markdown|safe %}

  <francoralite-related-items
    thesaurus="recording_context"
    filter_value="{{ recording_context.id }}"
    ></francoralite-related-items>

{% else %}
  <p>{% trans "Ce contexte d'enregistrement n'existe pas." %}</p>
{% endif %}
{% else %}
    {% display_error error %}
{% endif %}
{% endblock %}
