{% extends "enum/thematic.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load static %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
  <script type="module" src="{% static "francoralite_front/js/webcomponents/related_items.js" %}"></script>
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}



{% block title_name %}
  {{ block.super }}
    {% if thematic %}
     : {{ thematic.name }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if perms.keycloak.thematic_update %}
  <a href="{% url "thematic-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
{% if thematic %}

  {% field_data_id form.name thematic.name|safe %}
  {% field_data_id form.notes thematic.notes|markdown|safe %}

  <francoralite-related-items
    thesaurus="thematic"
    filter_value="{{ thematic.id }}"
    ></francoralite-related-items>

{% else %}
  <p>{% trans "Cette thématique n'existe pas." %}</p>
{% endif %}


{% endif %}
{% endblock %}
