.overflow {
    max-height: 200px;
}

.module ul, li {
    border-radius: 0px 0px 0px 0px;
}

.ui-selectmenu-button.ui-widget.ui-state-default {
    background-image: none;
    background-color: #6a0307;
    border-color: #6a0307;
    color: white;
}

.ui-selectmenu-button.ui-widget.ui-state-hover {
    background-image: none;
    background-color: #6a0307;
    border-color: #6a0307;
    color: white;
}

.ui-selectmenu-button.ui-widget.ui-state-focus {
    background-image: none;
    background-color: #6a0307;
    border-color: #6a0307;
    color: white;
}

.ui-selectmenu-button.ui-widget.ui-state-default .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-menu-item {
    background-color: white;
}

.ui-menu-item.ui-state-focus {
    background-image: none;
    background-color: #6a0307;
    border-color: #6a0307;
    color: white;
}

form p {
    display: inline-block;
}

.ui-front {
    z-index: 1000;
}

select[name*="start_bracket"] {
    text-align: right;
}

/* Accordion  ------------------------------------- */
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    margin-bottom: 1em;
  }

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    color: white;
    background-color: #AE8484;
    cursor: pointer;
    display: list-item;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details > input:not([type]) {
    width: 558px;
    margin: 2px 0;
    border: 1px solid #6f0a08;
    border-radius: 3px;
}

details ul {
    list-style: none;
}

details ul input[type=checkbox],
details ul input[type=checkbox] + label {
    margin: 2px 0;
    vertical-align: middle;
}
