
.container_line {
  resize: horizontal;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
}
.container_line > div {
  padding: 15px;
}

.container_line  > * {
  flex: 2;
}

.four {
  flex: 4;
}

.two {
  flex: 2;
}

.one {
  flex: 1;
}

.space-around {
  justify-content: space-around;
}


.center {
  justify-content: center;
  text-align: center;
}

.container_data {
    display: flex;
    flex-direction: column;
  margin: 0.5em;
}

.libelle {
  margin-right : 0em;
  margin-bottom: 0.5em;
  font-weight: bold;
    font-size: 1em;
}

.donnee {
  background-color: #d9d7ec;
  padding: 0.5em;
  padding-bottom: 0.2em;
  flex-grow: 2;
  min-height: 2em;
  font-size: 1em;
}

.form-group.has-warning .control-label:after {
    content:"*";
    color:red;
}
