
{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title %}
<div class="col-md-4">
  <img src="{{ STATIC_URL }}telemeta/images/collections_red.png"
    style="vertical-align:middle" />
    <h1>{% trans "Genre de danse" %}</h1>
</div>
<div class="col-md-8">
</div>
<div class="col-md-0">&nbsp;</div>
</div>
{% endblock %}

{% block title_buttons %}
{% if user.is_authenticated %}
  <a href="{% url "dance-add" %}">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer un genre de danse" %}
    </button>
  </a>
{% endif %}
{% endblock %}


</div>
{% block content %}
<div class="fullpage">
  <!-- If there is some domain dance (number of elements > 0 ) -->
{% if dances|length > 0 %}
  <!-- Table to display the dances --->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Nom" %}</th>
      <th>{% trans "Notes" %}</th>
  </tr>
  {% for dance in dances %}
  <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
      <td class="highlight">
          <a href="/dance/{{dance.id }}/">
            {{ dance.name|upper }}</a>
      </td>
      <td>
        {% if dance.notes %}
          {{ dance.notes|markdown|safe }}
        {% endif %}
      </td>
      <td>
        {% if user.is_authenticated %}
        {% buttons %}
        <a href="{% url "dance-edit" id=dance.id %}">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
              </button>
        </a>
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{dance.title}}"
            data-url="{% url "dance-delete" id=dance.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
        {% endbuttons %}
        {% endif %}
      </td>
  </tr>
  {% endfor %}
</table>

{% modal_delete %}

{% else %}
  {% if error|length %}
      {% display_error error %}
    {% else %}
      <p>{% trans "Il n'y a pas de genre de chanson" %}</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}
