
{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {% trans "Genre vocal" %}
{% endblock %}

{% block content %}

{% block title_buttons %}

{% if user.is_authenticated %}
  <a href="{% url "domain_vocal-add" %}" class="btn_add btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer un genre vocal" %}
  </a>
{% endif %}
{% endblock %}

{% block title %}
	{{ block.super }}
{% endblock %}

<div class="fullpage">
  <!-- If there is some domain vocal(number of elements > 0 ) -->
{% if domain_vocals|length > 0 %}
  <!-- Table to display the domain_vocals --->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Nom" %}</th>
      <th>{% trans "Notes" %}</th>
      {% if user.is_authenticated %}
      <th>{% trans "Modifier" %}</th>
      {% endif %}
  </tr>
  {% for domain_vocal in domain_vocals %}
  <tr>
      <td class="highlight">
          <a href="/domain_vocal/{{domain_vocal.id }}/">
            {{ domain_vocal.name|upper }}</a>
      </td>
      <td>
        {% if domain_vocal.notes %}
          {{ domain_vocal.notes|markdown|safe }}
        {% endif %}
      </td>
      {% if user.is_authenticated %}
      <td>
        <a href="{% url "domain_vocal-edit" id=domain_vocal.id %}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
        </a>
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{domain_vocal.title}}"
            data-url="{% url "domain_vocal-delete" id=domain_vocal.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
      </td>
      {% endif %}
  </tr>
  {% endfor %}
</table>

{% if user.is_authenticated %}
	{% modal_delete %}
{% endif %}

{% else %}
  {% if error|length %}
      {% display_error error %}
    {% else %}
      <p>{% trans "Il n'y a pas de genre vocal" %}</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}
