
{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {% trans "classification Hornbostel-Sachs" %}
{% endblock %}

{% block content %}

{% block title_buttons %}

{% if user.is_authenticated %}
  <a href="{% url "hornbostelsachs-add" %}" class="btn_add btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Ajouter une entrée à la classification" %}
  </a>
{% endif %}
{% endblock %}

{% block title %}
	{{ block.super }}
{% endblock %}

<div class="fullpage">
  <!-- If there is some classification hornbostelsachs(number of elements > 0 ) -->
{% if hornbostelsachss|length > 0 %}
  <!-- Table to display the hornbostelsachss --->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Numéro" %}</th>
      <th>{% trans "Nom" %}</th>
      {% if user.is_authenticated %}
      <th>{% trans "Modifier" %}</th>
      {% endif %}
  </tr>
  {% for hornbostelsachs in hornbostelsachss %}
  <tr>
      <td class="highlight">
          <a href="/hornbostelsachs/{{hornbostelsachs.id }}/">
            {{ hornbostelsachs.number|safe }}</a>
      </td>
      <td>
        {% if hornbostelsachs.name %}
          {{ hornbostelsachs.name|safe }}
        {% endif %}
      </td>
      {% if user.is_authenticated %}
      <td>
        <a href="{% url "hornbostelsachs-edit" id=hornbostelsachs.id %}"  class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
        </a>
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{hornbostelsachs.title}}"
            data-url="{% url "hornbostelsachs-delete" id=hornbostelsachs.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
      </td>
      {% endif %}
  </tr>
  {% endfor %}
</table>

{% if user.is_authenticated %}
	{% modal_delete %}
{% endif %}

{% else %}
  {% if error|length %}
      {% display_error error %}
    {% else %}
      <p>{% trans "Il n'y a pas de classification Hornbostel-Sachs" %}</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}
