
{% extends "enum/hornbostelsachs.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block javascript %}
  {{ block.super }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
{% endblock %}

{% block title %}
   {{ block.super}}
   {% if id %}
   {% trans "Modification" %}
   {% else %}
   {% trans "Création" %}
   {% endif %}
{% endblock %}

{% block title_buttons %}
{% endblock %}

{% block content %}
{{ form.media }}
{% if not error|length %}
<div class="container">
  {% if id %}
  <form action="{%url "hornbostelsachs-edit" id %}" method="POST">
  {% else %}
  <form action="{%url "hornbostelsachs-add" %}" method="POST">
  {% endif %}
    {% csrf_token %}
    {% bootstrap_field form.name layout='vertical' %}
    {% bootstrap_field form.notes layout='vertical' %}

    {% if id %}
    {% buttons submit='Modifier' reset="Annuler" %}{% endbuttons %}
    {% else %}
    {% buttons submit='Ajouter' reset="Annuler" %}{% endbuttons %}
    {% endif %}
  </form>
</div>

{% else %}
  {% display_error error %}
{% endif %}

{{ form.media.js }}
{% endblock %}
