{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title %}
<div class="col-md-4">
  <img src="{{ STATIC_URL }}telemeta/images/collections_red.png"
    style="vertical-align:middle" />
    <h1>{% trans "Voix/Instruments" %}</h1>
</div>
<div class="col-md-8">
</div>
<div class="col-md-0">&nbsp;</div>
{% endblock %}

{% block title_buttons %}
{% if user.is_authenticated %}
  <a href="{% url "instrument-add" %}">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer une voix/instrument" %}
    </button>
  </a>
{% endif %}
{% endblock %}

{% block content %}
<div class="fullpage">
  <!-- If there is some instruments (number of elements > 0 ) -->
{% if instruments|length > 0 %}
  <!-- Table to display the instruments --->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Nom" %}</th>
      <th>{% trans "Notes" %}</th>
      <th>{% trans "Classification Hornbostel-Sachs" %}</th>
  </tr>
  {% for instrument in instruments %}
  <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
      <td class="highlight">
          <a href="/instrument/{{ instrument.id }}/">
            {{ instrument.name|safe|upper }}</a>
      </td>
      <td>
        {% if instrument.notes %}
          {{ instrument.notes|markdown|safe }}
        {% endif %}
      </td>
      <td>
        {{ instrument.typology.number|safe}} : {{ instrument.typology.name|safe}}
        </td>
      <td>
        {% if user.is_authenticated %}
        {% buttons %}
        <a href="{% url "instrument-edit" id=instrument.id %}">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
              </button>
        </a>
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{instrument.name}}"
            data-url="{% url "instrument-delete" id=instrument.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
        {% endbuttons %}
        {% endif %}
      </td>
  </tr>
  {% endfor %}
</table>

{% modal_delete %}
{% else %}
  {% if error|length %}
    {% display_error error %}
  {% else %}
      <p>{% trans "Il n'y a pas de voix/instruments" %}</p>
  {% endif %}
{% endif %}
</div>
{% endblock %}
