
{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title %}
  <img src="{{ STATIC_URL }}telemeta/images/collections_red.png"
    style="vertical-align:middle" />
    <h1>{% trans "Formation" %}</h1>
{% endblock %}

{% block title_buttons %}
{% if user.is_authenticated %}
  <a href="{% url "musical_group-add" %}">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer une formation" %}
    </button>
  </a>
{% endif %}
{% endblock %}


</div>
{% block content %}
<div class="fullpage">
  <!-- If there is some musical_group (number of elements > 0 ) -->
{% if musical_groups|length > 0 %}
  <!-- Table to display the musical_groups --->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Nom" %}</th>
      <th>{% trans "Notes" %}</th>
      {% if user.is_authenticated %}
      <th>{% trans "Modifier" %}</th>
      {% endif %}
  </tr>
  {% for musical_group in musical_groups %}
  <tr>
      <td class="highlight">
          <a href="/musical_group/{{musical_group.id }}/">
            {{ musical_group.name|upper }}</a>
      </td>
      <td>
        {% if musical_group.notes %}
          {{ musical_group.notes|markdown|safe }}
        {% endif %}
      </td>
      {% if user.is_authenticated %}
      <td>
        <a href="{% url "musical_group-edit" id=musical_group.id %}">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
              </button>
        </a>
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{musical_group.title}}"
            data-url="{% url "musical_group-delete" id=musical_group.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
      </td>
      {% endif %}
  </tr>
  {% endfor %}
</table>

{% if user.is_authenticated %}
	{% modal_delete %}
{% endif %}
{% else %}
  {% if error|length %}
     {% display_error error %}
  {% else %}
      <p>{% trans "Il n'y a pas de formation" %}</p>
  {% endif %}
{% endif %}
</div>
{% endblock %}
