
{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title %}
<div class="col-md-4">
  <img src="{{ STATIC_URL }}telemeta/images/collections_red.png"
    style="vertical-align:middle" />
    <h1>{% trans "Organisation Musicale" %}</h1>
</div>
<div class="col-md-8">
</div>
<div class="col-md-0">&nbsp;</div>
</div>
{% endblock %}

{% block title_buttons %}
{% if user.is_authenticated %}
  <a href="{% url "musical_organization-add" %}">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer une organisation musicale" %}
    </button>
  </a>
{% endif %}
{% endblock %}


</div>
{% block content %}
<div class="fullpage">
  <!-- If there is some musical_organizations (number of elements > 0 ) -->
{% if musical_organizations|length > 0 %}
  <!-- Table to display the musical_organizations --->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Nom" %}</th>
      <th>{% trans "Notes" %}</th>
  </tr>
  {% for musical_organization in musical_organizations %}
  <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
      <td class="highlight">
          <a href="/musical_organization/{{musical_organization.id }}/">
            {{ musical_organization.name|upper }}</a>
      </td>
      <td>
        {% if musical_organization.notes %}
          {{ musical_organization.notes|markdown|safe }}
        {% endif %}
      </td>
      <td>
        {% if user.is_authenticated %}
        {% buttons %}
        <a href="{% url "musical_organization-edit" id=musical_organization.id %}">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
              </button>
        </a>
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{musical_organization.title}}"
            data-url="{% url "musical_organization-delete" id=musical_organization.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
        {% endbuttons %}
        {% endif %}
      </td>
  </tr>
  {% endfor %}
</table>

{% modal_delete %}
{% else %}
  {% if error|length %}
    {% display_error error %}
{% else %}
    <p>{% trans "Il n'y a pas d'organisations musicales" %}</p>
{% endif %}
{% endif %}
</div>
{% endblock %}
