
{% extends "enum/publisher.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}



{% block title %}
  <h1>
    <img src="{{ STATIC_URL }}telemeta/images/collections_red.png" style="vertical-align:middle" />
    {% trans "Éditeur" %}
    {% if publisher %}
     : {{ publisher.name }}
    {% endif %}
  </h1>
{% endblock %}

{% block title_buttons %}
  {% if user.is_authenticated %}
  <a href="{% url "publisher-edit" id=id %}">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %} </span>
  </button>
  </a>
  {% endif %}
{% endblock %}

{% block content %}
{% if not error|length %}
{% if publisher %}

  {% field_data form.value.label|safe publisher.value|safe %}
  {% field_data form.notes.label|safe publisher.notes|markdown|safe %}

{% else %}
  <p>{% trans "Cet éditeur n'existe pas." %}</p>
{% endif %}
{% else %}
    {% display_error error %}
{% endif %}
{% endblock %}
