
{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title %}
<div class="col-md-4">
  <img src="{{ STATIC_URL }}telemeta/images/collections_red.png"
    style="vertical-align:middle" />
    <h1>{% trans "Éditeur" %}</h1>
</div>
<div class="col-md-8">
</div>
<div class="col-md-0">&nbsp;</div>
</div>
{% endblock %}

{% block title_buttons %}
{% if user.is_authenticated %}
  <a href="{% url "publisher-add" %}">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer un éditeur" %}
    </button>
  </a>
{% endif %}
{% endblock %}


</div>
{% block content %}
<div class="fullpage">
  <!-- If there is some publisher (number of elements > 0 ) -->
{% if publishers|length > 0 %}
  <!-- Table to display the publisher --->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Nom" %}</th>
      <th>{% trans "Notes" %}</th>
  </tr>
  {% for publisher in publishers %}
  <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
      <td class="highlight">
          <a href="/publisher/{{publisher.id }}/">
            {{ publisher.value|upper }}</a>
      </td>
      <td>
        {% if publisher.notes %}
          {{ publisher.notes|markdown|safe }}
        {% endif %}
      </td>
      <td>
        {% if user.is_authenticated %}
        {% buttons %}
        <a href="{% url "publisher-edit" id=publisher.id %}">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
              </button>
        </a>
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{publisher.title}}"
            data-url="{% url "publisher-delete" id=publisher.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
        {% endbuttons %}
        {% endif %}
      </td>
  </tr>
  {% endfor %}
</table>

{% modal_delete %}

{% else %}
  {% if error|length %}
      {% display_error error %}
    {% else %}
      <p>{% trans "Il n'y a pas d'éditeur" %}</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}
