
{% extends "enum/recording_context.html" %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title_name %}
  {{ block.super }}
    {% if recording_context %}
     : {{ recording_context.value }}
    {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
  {% if user.is_authenticated %}
  <a href="{% url "recording_context-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
{% if recording_context %}

  {% field_data form.value.label|safe recording_context.value|safe %}
  {% field_data form.notes.label|safe recording_context.notes|markdown|safe %}

{% else %}
  <p>{% trans "Ce contexte d'enregistrement n'existe pas." %}</p>
{% endif %}
{% else %}
    {% display_error error %}
{% endif %}
{% endblock %}
