
{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}

{% block title %}
  <img src="{{ STATIC_URL }}telemeta/images/collections_red.png"
    style="vertical-align:middle" />
    <h1>{% trans "Utilité" %}</h1>
{% endblock %}

{% block title_buttons %}
{% if user.is_authenticated %}
  <a href="{% url "usefulness-add" %}">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer une utilité" %}
    </button>
  </a>
{% endif %}
{% endblock %}


</div>
{% block content %}
<div class="fullpage">
  <!-- If there is some usefulness (number of elements > 0 ) -->
{% if usefulnesss|length > 0 %}
  <!-- Table to display the usefulnesss --->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Nom" %}</th>
      <th>{% trans "Notes" %}</th>
      {% if user.is_authenticated %}
      <th>{% trans "Modifier" %}</th>
      {% endif %}
  </tr>
  {% for usefulness in usefulnesss %}
  <tr>
      <td class="highlight">
          <a href="/usefulness/{{usefulness.id }}/">
            {{ usefulness.name|upper }}</a>
      </td>
      <td>
        {% if usefulness.notes %}
          {{ usefulness.notes|markdown|safe }}
        {% endif %}
      </td>
      {% if user.is_authenticated %}
      <td>
        <a href="{% url "usefulness-edit" id=usefulness.id %}">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> {% trans "Editer" %}
              </button>
        </a>
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{usefulness.title}}"
            data-url="{% url "usefulness-delete" id=usefulness.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
      </td>
      {% endif %}
  </tr>
  {% endfor %}
</table>

{% if user.is_authenticated %}
	{% modal_delete %}
{% endif %}

{% else %}
  {% if error|length %}
      {% display_error error %}
    {% else %}
      <p>{% trans "Il n'y a pas d'utilité" %}</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}
