{% load static %}
{% load i18n %}
{% load markdown_extra %}
{% load tags %}

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="alternate" href="/rss" title="RSS 2.0" type="application/rss+xml"/>
    <link rel="icon" href="{% static "francoralite_front/images/favicon.ico" %}"/>

    <title>{% block head_title %}Francoralité{% endblock %}</title>


{% block javascript %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="{% static "francoralite_front/js/abcjs_midi_5.9.1-min.js" %}"></script>

  {% if user.is_authenticated %}
      <script type='text/javascript'>var CURRENT_USER_NAME = "{{ user.username }}";</script>
  {% else %}
      <script type='text/javascript'>var CURRENT_USER_NAME = undefined;</script>
  {% endif %}

{% endblock %}


{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"></link>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link type="text/css" rel="stylesheet" href="{% static "francoralite_front/css/abcjs-midi.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "francoralite_front/css/style.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "francoralite_front/css/player.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "francoralite_front/css/search.css" %}" />

  <link type="text/css" rel="stylesheet" href="{% static "francoralite_front/css/francoralite.css" %}" />
{% endblock %}
</head>

<body>
{% block header %}
    <header id="header">
        <div id="logo">
        {% block logo %}
            <a href="{% url "home" %}">
              <img src="{% static "francoralite_front/images/logo_universite_poitiers.jpg" %}"
               alt="{% trans "Université de Poitiers" %}" />
            </a>
            <img id="francoralite-bandeau" src="{% static "francoralite_front/images/bandeau_francoralite.svg" %}"
              alt="Francoralité" />
        {% endblock %}
        </div>
        <div id="quick_search">
            <span class="glyphicon glyphicon-question-sign" title="Recherche sur les champs&nbsp;: prénom/nom des personnes, nom des lieux, titre des fonds, titre des missions, titre des enquêtes et titre des items"></span>
            <form action="{% url "search-simple" %}" id="_quickSearchForm" method="get" role="search">
                <div class="input-group">
                    <input class="form-control" id="id_q" name="q" type="text" value="{{query}}"  placeholder="Recherche rapide ..." /><span
                        class="input-group-btn"><button type="submit" id="btn" class="btn btn-default"><span
                        class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </form>
        </div>
        <div id="auth_info" style="right : 1.1em;">
        {% if user.is_authenticated %}
          <!--{% trans "Bienvenue" %}, --><a href="" class="login">{{user}}</a> | <a href="{% url 'oidc_logout' %}" class="logout">{% trans "Déconnexion" %}</a>
        {% else %}
          <a href="{% url 'oidc_authentication_init' %}?next={{ request.path }}">{% trans "Se connecter" %}</a>
        {% endif %}
        </div>

        <div id="menu">
            {% block menu %}
                {% include "inc/nav.html" %}
            {% endblock %}
        </div>
    </header>
{% endblock %}

<main id="content" role="main">
{% block content %}
  {% block title %}
    <header class="sticky">
    <h1>{% block title_name %}{% endblock %}</h1>
    {% block pagination %}{% include "inc/pagination.html" %}{% endblock %}
    </header>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li id="id_message" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  {% endblock %}

{% endblock %}
</main>
{% block footer %}
    <footer id="footer">
        <hr>
        {% git_label %} - {% git_short_version %} - {% host_name %}
    </footer>
{% endblock %}
</body>
</html>
