
{% extends "collection.html" %}
{% load i18n %}
{% load static %}
{% load markdown_extra %}
{% load data_display %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static "francoralite_front/js/table_sort.js" %}" defer></script>
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}


{% block title_name %}
  {% trans "Enquête" %}
  {% if collection %}
  : {{  collection.title}}
  {% endif %}
{% endblock %}

{% block content %}
{% block title_buttons %}
  {% if perms.keycloak.item_add and collection %}
  <a href="{% url "item-add" id_institution=collection.mission.fonds.institution.id id_fond=collection.mission.fonds.id id_mission=collection.mission.id id_collection=id %}" class="btn_add btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans "Créer un item" %}
  </a>
  {% endif %}
  {% if perms.keycloak.collection_update and collection %}
  <a href="{% url "collection-edit" id=id %}" class="btn_add btn btn-default">
    <span class="glyphicon glyphicon-edit"></span> {% trans "Modifier" %}
  </a>
  {% endif %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% if not error|length %}
  {% if collection %}

  <ul class="nav nav-tabs" role="tablist">
     <li class="active">
       <a href="#tab_general" role="tab" data-toggle="tab">{% trans "Fiche" %}</a>
     </li>
     <li>
      <a href="#tab_item" role="tab" data-toggle="tab">{% trans "Items" %}</a>
    </li>
     <li>
       <a href="#tab_media" role="tab" data-toggle="tab">{% trans "Médias associés" %}</a>
     </li>
  </ul>

  <!-- Onglet Fiche en cours -->
  <div class="tab-content">
    <section class="tab-pane fade in active" id="tab_general">
      <div class="container_line">
        <dl class="container_data">
          <dt class="libelle"> {{form.mission.label|safe}}</dt>
          <dd class="donnee">
            <a href="{% url "mission-detail" id=collection.mission.id %}">
              {{collection.mission.title|safe}}
            </a>
          </dd>
        </dl>
        {% field_data_id form.code_partner collection.code_partner|safe  empty=False %}
        {% field_data_id form.code collection.code|upper|safe %}
        {% field_data_id form.alt_title collection.alt_title|safe empty=False %}
        {% field_data_id form.legal_rights collection.legal_rights.name|safe %}
      </div>

      <div class="container_line">
        <dl class="container_data">
          <dt class="libelle"> {% trans 'Durée totale disponible' %}</dt>
          <dd class="donnee" id="id_duration">{{collection.duration}}</dd>
        </dl>
        {% field_data_id form.description collection.description|markdown|safe %}
      </div>

      <div class="block-grey">
        <h2>{% trans "Période d'enregistrements" %}</h2>
        {% field_data_id form.year_published collection.year_published|safe %}
        <div class="container_line">
          <dl class="container_data">
            <dt class="libelle"> {% trans 'Depuis' %}</dt>
            <dd class="donnee" id="id_recorded_from_year">{{collection.recorded_from_year}}</dd>
          </dl>
          <dl class="container_data">
            <dt class="libelle"> {% trans "Jusqu\'à" %}</dt>
            <dd class="donnee" id="id_recorded_to_year">{{collection.recorded_to_year}}</dd>
          </dl>
        </div>
      </div>

      <div class="block-grey">
        <h2>{% trans "Personnes" %}</h2>
        <div class="row">
          <div class="col-md-6">
            <dl class="container_data">
              <dt class="libelle"> {% trans 'Enquêteurs' %}</dt>
              <dd class="donnee">
                {% for collector in collection.collectors %}
                    <a href="{% url "personne-detail" id=collector.id %}"
                    onclick="window.open(this.href); return false;">
                    {{collector.first_name}} {{collector.last_name}}
                    </a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </dd>
            </dl>
          </div>
          <div class="col-md-6">
            <dl class="container_data">
              <dt class="libelle"> {% trans 'Informateurs' %}</dt>
              <dd class="donnee">
                {% for informer in collection.informers %}
                    <a href="{% url "personne-detail" id=informer.id %}"
                    onclick="window.open(this.href); return false;">
                    {{informer.first_name}} {{informer.last_name}}
                    </a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </ul>
              </dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="block-grey">
        <h2>{% trans "Localisation" %}</h2>

        <div class="row">
          <div class="col-md-6">
            <dl class="container_data">
              <dt class="libelle"> {% trans 'Lieux' %}</dt>
              <dd class="donnee">
                <ul>
                {% for location in collection.locations %}
                  <li>
                    <a href="{% url "location_gis-detail" id=location.id %}"
                    onclick="window.open(this.href); return false;">
                    {{location.code}}
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </dd>
            </dl>
          </div>
          <div class="col-md-6">
            {% field_data form.location_details.label|safe collection.location_details|markdown|safe empty=False %}
            {% field_data form.cultural_area.label|safe collection.cultural_area|safe %}
          </div>
        </div>
      </div>

      {% if collection.languages %}
      <dl class="container_data">
        <dt class="libelle"> {% trans 'Langues' %}</dt>
        <dd class="donnee">
          <ul>
          {% for language in collection.languages %}
              <li>{{language.name}}</li>
          {% endfor %}
          </ul>
        </dd>
      </dl>
      {% endif %}

      {% if collection.publishers %}
      <dl class="container_data">
        <dt class="libelle"> {% trans 'Éditeurs' %}</dt>
        <dd class="donnee">
          <ul>
          {% for publisher in collection.publishers %}
            <li>
              <a href="{% url "publisher-detail" id=publisher.id %}"
                  target="_blank">
                {{publisher.name|safe}}
              </a>
            </li>
          {% endfor %}
          </ul>
        </dd>
      </dl>
      {% endif %}


      <div class="block-grey">
        <h2>{% trans "Voix/Instruments" %}</h2>
        <div class="container_data voix-instrument">
          {% for performance in collection.performances %}
          <div class="container_line">
              {% if performance.number %}
              <dl class="container_data number">
                <dt class="libelle">{% trans 'Nombre' %}</dt>
                <dd class="donnee">{{performance.number}}</dd>
              </dl>
              {% endif %}

              {% if performance.instrument %}
              <dl class="container_data instrument">
                <dt class="libelle">{% trans 'Instrument' %}</dt>
                <dd class="donnee">{{performance.instrument.name}}</dd>
              </dl>
              <dl class="container_data thb">
                <dt class="libelle">{% trans 'Typologie Horn-Bostel' %}</dt>
                <dd class="donnee">{{performance.instrument.typology.number}} :
                {{performance.instrument.typology.name}}</dd>
              </dl>
              {% endif %}

              {% if performance.emit %}
              <dl class="container_data">
                <dt class="libelle">{% trans "Nature de l'émission vocale" %}</dt>
                <dd class="donnee">{{performance.emit.name}}</dd>
              </dl>
              {% endif %}

              {% if performance.musicians %}
              <dl class="container_data">
                <dt class="libelle">{% trans 'Musiciens' %}</dt>
                <dd class="donnee">
                  {% for musician in performance.musicians %}
                    {% if not forloop.first %} | {% endif %}
                    {{musician.first_name}}  {{musician.last_name}}
                  {% endfor %}
                </dd>
              </dl>
              {% endif %}

          </div>
          {% endfor %}
        </div>
      </div>

    </section>

    <!-- Onglet des media associes -->
    <section class="tab-pane fade in" id="tab_media">
      {% display_documents %}
      <script type="text/javascript">if (document.location.hash === '#media') { $('.nav-tabs li:nth-child(2) a').tab('show'); }</script>
    </section>

    <!-- Onglet des items -->
    <section class="tab-pane fade in" id="tab_item">
      {% if items|length > 0 %}
        <!-- Table to display the collections -->
        <table class="listing">
        <thead>
            <th class="sortable highlight">{% trans "Cote" %}</th>
            <th class="sortable">{% trans "Nom" %}</th>
            <th class="sortable">{% trans "Description" %}</th>
            <th>{% trans "Domaines" %}</th>
            <th>{% trans "Piste son" %}</th>
            {% if perms.keycloak.item_update or perms.keycloak.item_delete %}
            <th>{% trans "Modifier" %}</th>
            {% endif %}
        </thead>
        {% for item in items %}
        <tr>
            <td class="highlight">
                <a href="/item/{{item.id }}">
                {{ item.code|upper }}</a>
            </td>
            <td>{{ item.title|safe }}</td>
            <td>{{ item.description|truncatechars:50|markdown|safe }}</td>
            <td>
              {% if item.domain %}
              <ul>
                {% if 'T' in item.domain %}<li>Témoignage</li>{% endif %}
                {% if 'C' in item.domain %}<li>Chanson</li>{% endif %}
                {% if 'A' in item.domain %}<li>Autre expression vocale'</li>{% endif %}
                {% if 'I' in item.domain %}<li>Expression instrumentale</li>{% endif %}
                {% if 'R' in item.domain %}<li>Conte ou récit légendaire</li>{% endif %}
              </ul>
              {% endif %}
            </td>
            <td>
              <audio
                controls
                preload="metadata"
                {% if item.file %}
                src="/api/item/{{ item.id }}/download">
                {% else %}
                src="{{item.url_file}}"
                {% endif %}
                Votre navigateur Internet ne prend pas en charge cet élément audio
              </audio>
            </td>
            {% if perms.keycloak.item_update or perms.keycloak.item_delete %}
            <td>
              {% if perms.keycloak.item_update %}
              <a href="{% url "item-edit" id=item.id %}">
                    <button type="button" class="btn btn-default">
                      <span class="glyphicon glyphicon-edit"></span> {% trans "Éditer" %}
                    </button>
              </a>
              {% endif %}
              {% if perms.keycloak.item_delete %}
              <button type="button" class="btn btn-default"
                  data-toggle="modal" data-target="#modalDelete"
                  data-name="{{item.title}}"
                  data-url="{% url "item-delete" id=item.id %}">
                    <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
              </button>
              {% endif %}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
        {% if perms.keycloak.collection_delete %}
            {% modal_delete %}
        {% endif %}
      {% else %}
        <div class="block-grey">
        {% trans "Cette enquête ne possède pas d'item."%}
        </div>
      {% endif %}
      </div>
    </div>
    <script type="text/javascript">if (document.location.hash === '#items') { $('.nav-tabs li:nth-child(3) a').tab('show'); }</script>
  </section>

  {% else %}
    <p>{% trans "Cette enquête n'existe pas." %}</p>
  {% endif %}
{% else %}
  {% display_error error %}
{% endif %}
{% endblock %}
