
{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load markdown_extra %}
{% load data_display %}


{% block javascript %}
  {{ block.super }}
{% endblock %}


{% block stylesheets %}
  {{ block.super }}
{% endblock %}


{% block title_name %}
  {% trans "Enquêtes" %}
{% endblock %}


{% block content %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block title_buttons %}
{% endblock %}

<div class="fullpage">
{% if collections|length > 0 %}
  <!-- Table to display the collections -->
  <table class="listing">
  <tr>
      <th class="highlight">{% trans "Cote" %}</th>
      <th>{% trans "Nom" %}</th>
      <th>{% trans "Description" %}</th>
      <th>{% trans "Items" %}</th>
      <th>{% trans "Domaines" %}</th>
      {% if perms.keycloak.collection_update or perms.keycloak.collection_delete %}
      <th>{% trans "Modifier" %}</th>
      {% endif %}
  </tr>
  {% for collection in collections %}
  <tr>
      <td class="highlight">
          <a href="/collection/{{collection.id }}">
            {{ collection.code|upper }}</a>
      </td>
      <td>{{ collection.title|safe }}</td>
      <td>{{ collection.description|truncatechars:50|markdown|safe }}</td>
      <td>{{ collection.subelements_count.items }}</td>
      <td>{% include 'inc/proportional_colored_bar.html' with items=collection.domains %}</td>
      {% if perms.keycloak.collection_update or perms.keycloak.collection_delete %}
      <td>
      {% if perms.keycloak.collection_update %}
        <a href="{% url "collection-edit" id=collection.id %}" class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span> {% trans "Éditer" %}
        </a>
      {% endif %}
      {% if perms.keycloak.collection_delete %}
        <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#modalDelete"
            data-name="{{collection.title}}"
            data-url="{% url "collection-delete" id=collection.id %}">
              <span class="glyphicon glyphicon-trash"></span> {% trans "Supprimer" %}
        </button>
      {% endif %}
      </td>
      {% endif %}
  </tr>
  {% endfor %}
</table>

{% if perms.keycloak.collection_delete %}
    {% modal_delete %}
{% endif %}

{% else %}
  {% if error|length %}
    {% display_error error %}
  {% else %}
    <p>{% trans "Il n'y a pas d'enquêtes" %}</p>
  {% endif %}
{% endif %}
</div>
{% endblock %}
