{% extends "location.html" %}
{% load i18n %}
{% load data_display %}
{% load markdown_extra %}
{% load static %}

{% block javascript %}
  {{ block.super }}
  <script type="module" src="{% static "francoralite_front/js/webcomponents/map.js" %}"></script>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <style>
    francoralite-map {
      height: 500px;
      width: 100%;
      display: inline-block;
    }
   </style>
{% endblock %}

{% block title_name %}
   {{ block.super}} -
   {% if id %}
   {% trans "Modification" %}
   {% else %}
   {% trans "Création" %}
   {% endif %}
{% endblock %}

{% block content %}

{% block title_buttons %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}

{{ form.media }}
<div class="container">
  {% if id %}
  <form action="{%url "location_gis-edit" id %}" method="POST">
  {% else %}
  <form action="{%url "location_gis-add" %}" method="POST">
  {% endif %}
    {% csrf_token %}
    <div>
      <div class="control-label">
        <label class="" for="id_name">{% trans "Carte" %}:</label>
      </div>
      <!-- The map -->
      <francoralite-map markers-drag="yes"
      {% if id %}markers-url="/api/locationgis/{{id}}"{% endif %}>
      </francoralite-map>
    </div>
    <div class="block-grey">
      <h2>{% trans "Coordonnées" %}</h2>
      <div class="container_line">
        {% field_editor form.latitude %}
        {% field_editor form.longitude %}
      </div>
    </div>
    <div class="container_line">
        {% field_editor form.code %}
        {% field_editor form.name %}
    </div>
    <div >
      {% markdown_editor component=form.notes %}
    </div>
      {% buttons_form %}
  </form>
</div>


{% endblock %}
