
{% extends "mission.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load data_display %}
{% load markdown_extra %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block javascript %}
  {{ block.super }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-select/2.5.1/vue-select.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
{% endblock %}

{% block title_name %}
   {{ block.super}} -
   {% if id %}
   {% trans "Modification" %}
   {% else %}
   {% trans "Création" %}
   {% endif %}
{% endblock %}


{% block content %}
{% block title_buttons %}
{% endblock %}

{% block title %}
  {{ block.super }}
{% endblock %}
{% if not error|length %}
{{ form.media }}
<div class="container">
  {% if id %}
  <form action="{%url "mission-edit" id %}" method="POST">
  {% else %}
  <form action="{{request.path}}" method="POST">
  {% endif %}
    {% csrf_token %}
    <div class="container_line">
      {% bootstrap_field form.fonds layout='vertical' %}
      {% bootstrap_field form.code_partner layout='vertical' %}
    </div>
    <div class="container_line">
      {% bootstrap_field form.code layout='vertical' %}
      {% bootstrap_field form.title layout='vertical' %}
      {% bootstrap_field form.public_access layout='vertical' %}
    </div>
    <div class="container">
    {% markdown_editor component=form.description  %}
    </div>
    <div id="app">
      <div class="block-grey">
      <h3>{% trans "Média associés" %}</h3>
      <template>
        <div v-for="(doc, index) in documents"
          v-bind:key="index">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class=container_line>
                <input v-model="doc.id" hidden="True" type="number" />
                <span class="container_data one">
                  <label class="control_label">{% trans "Nakala ID" %}</label>
                  <input v-model="doc.id_nakala" type="string"
                    required="required" pattern=".*\S+.*"/>
                </span>
                <span class="container_data one">
                  <label class="control_label">{% trans "Titre" %}</label>
                  <input v-model="doc.title" type="string"
                  required="required" pattern=".*\S+.*"/>
                </span>
                <span class="container_data four">
                  <label class="control_label">{% trans "Description" %}</label>
                  <input v-model="doc.description" type="string" required="required"/>
                </span>
                <span class="container_data two">
                  <label class="control_label">{% trans "Crédits" %}</label>
                  <input v-model="doc.credits" type="string" required="required"/>
                </span>
              </div>

              <div class="center">
                <button type="button" @click="removeDoc(index)"
                  class="btn btn-default">
                  <span class="glyphicon glyphicon-trash"></span>
                  {% trans "Supprimer" %}
                </button>
              </div>

            </div>
          </div>
        </div>
      </template>
      <input name="media" type="hidden" :value="JSON.stringify(documents,replacerMedia)" />

      {% nakala_button %}
      </div>
    </div>

    {% buttons_form %}
  </form>
</div>

<script type="application/javascript">
    new Vue({
      delimiters: ['${', '}'],
      el: '#app',
      data: {
        documents:[],
      },
      watch: {
        documents () {
          this.blockRemoval = this.documents.length <= 1
        }
      },
      methods: {
        addDoc(){
          let checkEmptyLines = this.documents.filter(line => line.number === null);
          if (checkEmptyLines.length >= 1 && this.documents.length > 0) return;
          this.documents.push({
           number: "1"
         });
        },
        removeDoc (lineId) {
          this.documents.splice(lineId, 1)
        },
        getDocuments: function(){
          axios.get(`/api/mission/${escape({{id}})}/document`).then(
            response => {
              if(response.data.length>0){
                this.documents = response.data;
              }
            }
          );
        },
        replacerMedia: function(key,value){
          return value;
        },
      },
      mounted: function() {
        {% if id %}
        this.getDocuments();
        {% endif %}
      }
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>



{{ form.media.js }}
{% else %}
  {% display_error error %}
{% endif %}
{% endblock %}
