{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static "francoralite_front/js/webcomponents/autocomplete.js" %}" defer></script>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "francoralite_front/css/webcomponents/autocomplete.css" %}">
{% endblock %}

{% block content %}
<h1>{% trans "Recherche avancée"%}</h1>
<hr/>

<h2>Filtres de recherche</h2>
<form>
  <label for="informer">{% trans "Informateur" %}</label>
  <br>
  <francoralite-informers name="informer" data-values=""></francoralite-informers>

  <br><br>

  <label for="collector">{% trans "Enquêteur" %}</label>
  <br>
  <francoralite-collectors name="collector" data-values=""></francoralite-collectors>

  <br><br>

  <label for="location">{% trans "Lieu" %}</label>
  <br>
  <francoralite-locations name="location" data-values=""></francoralite-locations>

  <br><br>

  <label for="dance">{% trans "Danse" %}</label>
  <br>
  <francoralite-dances name="dance" data-values=""></francoralite-dances>

  <br><br>

  <button type="submit" id="btn" class="btn btn-default">
    <span class="glyphicon glyphicon-search">
    </span>
    {% trans "Effectuer une recherche" %}
  </button>
</form>

{% if collections or items %}
<hr/>

<div>
  <h2>Résultats</h2>

  {% if collections %}
  <div>
    <table class="listing">
      <caption>{% trans "Enquête(s)" %}</caption>
      <thead>
        <th class="highlight">{% trans "Cote" %}</th>
        <th>{% trans "Titre" %}</th>
      </thead>
      {% for collection in collections %}
      <tr>
        <td class="highlight">
          <a href="/collection/{{ collection.id }}">{{ collection.code }}</a>
        </td>
        <td>{{ collection.title }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <div>
    {% trans "Il n'y pas d'enquête qui correspond à ces critères." %}
  </div>
  {% endif %}

  {% if items %}
  <div>
    <table class="listing">
      <caption>{% trans "Item(s)" %}</caption>
      <thead>
        <th class="highlight">{% trans "Cote" %}</th>
        <th>{% trans "Titre" %}</th>
        <th>Piste son</th>
      </thead>
      {% for item in items %}
      <tr>
        <td class="highlight">
          <a href="/item/{{ item.id }}">{{ item.code }}</a>
        </td>
        <td>{{ item.title }}</td>
        <td>
          <audio
            controls
            src="/api/item/{{item.id}}/download">
            Votre navigateur Internet ne prend pas en charge cet élément audio
          </audio>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <div>
    {% trans "Il n'y pas d'item qui correspond à ces critères." %}
  </div>
  {% endif %}

</div>
{% endif %}
{% endblock %}
