{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load data_display %}
{% load leaflet_tags %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static "francoralite_front/js/webcomponents/autocomplete.js" %}" defer></script>
  {% leaflet_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "francoralite_front/css/webcomponents/autocomplete.css" %}">
  <style>
    #id_map {
      height: 600px;
      width: 100%;
     }
     .leaflet-container {
       justify-content: center;
     }
  </style>
  {% leaflet_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
{% endblock %}

{% block content %}
<h1>{% trans "Recherche avancée"%}</h1>
<hr/>

<h2>Filtres de recherche</h2>
<form>
  <details{% if parameters_json.informer or parameters_json.collector %} open{% endif %} id="details_who">
    <summary>{% trans "Qui ?" %}</summary>
    <label for="informer">{% trans "Informateur" %}</label>
    <br>
    <francoralite-informers name="informer" data-values="{{ parameters_json.informer }}"{% if 'informer' in or_operators %} data-default-operator="checked"{% endif %}></francoralite-informers>
    <a id="link_authority_informer" href="/authority_informer">
      <span class="glyphicon glyphicon-list"></span> {% trans "Informateurs ..."%}
    </a>
    <br><br>
    <label for="collector">{% trans "Enquêteur" %}</label>
    <br>
    <francoralite-collectors name="collector" data-values="{{ parameters_json.collector }}"{% if 'collector' in or_operators %} data-default-operator="checked"{% endif %}></francoralite-collectors>
    <a id="link_authority_collector" href="/authority_collector">
      <span class="glyphicon glyphicon-list"></span> {% trans "Enquêteurs ..."%}
    </a>
  </details>

  <details>
    <summary>{% trans "Quand ?" %}</summary>
  </details>

  <details{% if parameters_json.location %} open{% endif %}  id="details_where">
    <summary>{% trans "Où ?" %}</summary>
    <label for="location">{% trans "Lieu" %}</label>
    <br>
    <francoralite-locations name="location" data-values="{{ parameters_json.location }}"{% if 'location' in or_operators %} data-default-operator="checked"{% endif %}></francoralite-locations>
    <a id="link_location" href="/location_gis/">
      <span class="glyphicon glyphicon-list"></span> {% trans "Lieux ..."%}
    </a>
  </details>

  <details{% if parameters_json.media_type or parameters_json.recording_context or parameters_json.dance %} open{% endif %}  id="details_what">
    <summary>{% trans "Quoi ?" %}</summary>
    <label for="media_type">{% trans "Type de média" %}</label>
    <br>
    <francoralite-media-type name="media_type" data-values="{{ parameters_json.media_type }}"{% if 'media_type' in or_operators %} data-default-operator="checked"{% endif %}>
    </francoralite-media-type>
    <a id="link_media_type" href="/mediatype">
      <span class="glyphicon glyphicon-list"></span> {% trans "Types de média ..."%}
    </a>
    <br><br>
    <label for="recording_context">{% trans "Contexte d'enregistrement" %}</label>
    <br>
    <francoralite-recording-context name="recording_context" data-values="{{ parameters_json.recording_context }}"{% if 'recording_context' in or_operators %} data-default-operator="checked"{% endif %}>
    </francoralite-recording-context>
    <a id="link_recording_context" href="/recording_context">
      <span class="glyphicon glyphicon-list"></span> {% trans "Contextes d'enregistrement ..."%}
    </a>
    <br>
    <br><br>
    <label for="dance">{% trans "Danse" %}</label>
    <br>
    <francoralite-dances name="dance" data-values="{{ parameters_json.dance }}"{% if 'dance' in or_operators %} data-default-operator="checked"{% endif %}></francoralite-dances>
    <a id="link_dance" href="/dance">
      <span class="glyphicon glyphicon-list"></span> {% trans "Danses ..."%}
    </a>
  </details>

  <details{% if parameters_json.domain_tale %} open{% endif %}  id="details_tale">
    <summary>{% trans "Conte" %}</summary>
    <label for="domain_music">{% trans "Genre de conte" %}</label>
    <br>
    <francoralite-domain-tale name="domain_tale" data-values="{{ parameters_json.domain_tale }}"{% if 'domain_tale' in or_operators %} data-default-operator="checked"{% endif %}>
    </francoralite-domain-tale>
    <a id="link_domain_tale" href="/domain_tale">
      <span class="glyphicon glyphicon-list"></span> {% trans "Genres de contes ..."%}
    </a>
  </details>


  <details{% if parameters_json.domain_song or parameters_json.coupe %} open{% endif %}  id="details_song">
    <summary>{% trans "Chanson" %}</summary>
    <label for="domain_song">{% trans "Genre de chanson" %}</label>
    <br>
    <francoralite-domain-song name="domain_song" data-values="{{ parameters_json.domain_song }}"{% if 'domain_song' in or_operators %} data-default-operator="checked"{% endif %}>
    </francoralite-domain-song>
    <a id="link_domain_song" href="/domain_song">
      <span class="glyphicon glyphicon-list"></span> {% trans "Genres de chansons ..."%}
    </a>
    <br><br>
    <label for="coupe">{% trans "Coupe" %}</label>
    <br>
    <francoralite-coupes name="coupe" data-values="{{ parameters_json.coupe }}"{% if 'coupe' in or_operators %} data-default-operator="checked"{% endif %}></francoralite-coupes>
    <a id="link_coupe" href="/coupe">
      <span class="glyphicon glyphicon-list"></span> {% trans "Coupes ..."%}
    </a>
  </details>

  <details{% if parameters_json.domain_vocal %} open{% endif %}  id="details_vocal">
    <summary>{% trans "Autre expression vocale" %}</summary>
    <label for="domain_vocal">{% trans "Genre d'autre expression vocale" %}</label>
    <br>
    <francoralite-domain-vocal name="domain_vocal" data-values="{{ parameters_json.domain_vocal }}"{% if 'domain_vocal' in or_operators %} data-default-operator="checked"{% endif %}>
    </francoralite-domain-vocal>
    <a id="link_domain_vocal" href="/domain_vocal">
      <span class="glyphicon glyphicon-list"></span> {% trans "Genres vocaux ..."%}
    </a>
  </details>

  <details{% if parameters_json.domain_music %} open{% endif %}  id="details_music">
    <summary>{% trans "Musique / Expression instrumentale" %}</summary>
    <label for="domain_music">{% trans "Genre de musique" %}</label>
    <br>
    <francoralite-domain-music name="domain_music" data-values="{{ parameters_json.domain_music }}"{% if 'domain_music' in or_operators %} data-default-operator="checked"{% endif %}>
    </francoralite-domain-music>
    <a id="link_domain_music" href="/domain_music">
      <span class="glyphicon glyphicon-list"></span> {% trans "Genres de musiques ..."%}
    </a>
  </details>

  <button type="submit" id="btn" class="btn btn-default">
    <span class="glyphicon glyphicon-search">
    </span>
    {% trans "Effectuer une recherche" %}
  </button>
</form>

{% if show_results %}
<hr/>

<div>
  <h2>Résultats</h2>

  <div>
    <h3>{% trans "Enquêtes" %}</h3>
    {% if collections %}
    <table class="listing">
      <thead>
        <th class="highlight">{% trans "Cote" %}</th>
        <th>{% trans "Titre" %}</th>
      </thead>
      {% for collection in collections %}
      <tr>
        <td class="highlight">
          <a href="/collection/{{ collection.id }}">{{ collection.code }}</a>
        </td>
        <td>{{ collection.title }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>{% trans "Il n'y pas d'enquête qui correspond à ces critères." %}</p>
    {% endif %}
  </div>

  <div>
    <h3>{% trans "Items" %}</h3>
    {% if items %}
    <table class="listing">
      <thead>
        <th class="highlight">{% trans "Cote" %}</th>
        <th>{% trans "Titre" %}</th>
        <th>{% trans "Piste son" %}</th>
      </thead>
      {% for item in items %}
      <tr>
        <td class="highlight">
          <a href="/item/{{ item.id }}">{{ item.code }}</a>
        </td>
        <td>{{ item.title }}</td>
        <td>
          <audio
            controls
            preload="metadata"
            src="/api/item/{{item.id}}/download">
            Votre navigateur Internet ne prend pas en charge cet élément audio
          </audio>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>{% trans "Il n'y pas d'item qui correspond à ces critères." %}</p>
    {% endif %}
  </div>

  <div>
    <h3>{% trans "Lieux des enquêtes" %}</h3>
    {% if locations %}
    <script  type="text/javascript">
      function map_init_basic (map, options) {

        // Adjusting bounds and zoom
        let bounds = [ [60, -85], [30, 10] ];

        map.setMinZoom(3);
        map.setMaxZoom(18);
        map.setMaxBounds( bounds );
        map.fitBounds( bounds );

        var markers = L.markerClusterGroup( {
          showCoverageOnHover: true,
          zoomToBoundsOnClick: true,
          removeOutsideVisibleBounds: true
        } );

        locate_collections(map, markers);

      }

      function locate_collections (map, markers) {
        {% for location in locations %}
            markers.addLayer( L.marker([{{location.location.latitude|virgule}},
             {{location.location.longitude|virgule}} ]).bindPopup(
              "<h5><a href=\"/collection/{{location.collection.id}}\">"+
              "{{location.collection.code}} - {{location.collection.title|safe|escape}}</a></h5>"+
              "<p>{{location.collection.descriptions|safe}}</p>"+
              "<hr />"+
              "Lieu : <a href=\"/location_gis/{{location.location.id}}\"><b>{{location.location.code}}"+
              "</b></a><p>{{location.location.name|safe}}</p><hr/><i>{{location.location.notes|safe}}</i>" ) );
        {% endfor %}
        map.addLayer(markers);
      }
    </script>

    {% leaflet_map "id_map" callback="window.map_init_basic" %}

    {% else %}
    <p>{% trans "Il n'y pas de lieu qui correspond à ces critères." %}</p>
    {% endif %}
  </div>

</div>
{% endif %}
{% endblock %}
